/* Error: expected selector.
 *   ,--> scss/shadow.scss
 * 42|     .sdw-#{$shadow}-c#{$color}, .sdw-#{$shadow}-c#{$i} {
 *   |                        ^^^^^^ 
 *   '
 *   ,
 * 1 | .sdw-0-0-2-cgrey 222, 555, 999, CCC, FFF, .sdw-0-0-2-c1 
 *   |                  = error in interpolated output
 *   '
 *   scss/shadow.scss 42:24  @import
 *   scss/jass.scss 125:9    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected selector.\a   \250c \2500 \2500 > scss/shadow.scss\a 42\2502      .sdw-#{$shadow}-c#{$color}, .sdw-#{$shadow}-c#{$i} {\a   \2502                         ^^^^^^ \a   \2575 \a   \2577 \a 1 \2502  .sdw-0-0-2-cgrey 222, 555, 999, CCC, FFF, .sdw-0-0-2-c1 \a   \2502                   \2501  error in interpolated output\a   \2575 \a   scss/shadow.scss 42:24  @import\a   scss/jass.scss 125:9    root stylesheet";
}
