/* yes/no > !important */
.c334, .c1 {
  background-color: #334;
}

.cb334, .cb1 {
  border-color: #334;
}

.ct334, .ct1 {
  color: #334;
}

.c99A, .c2 {
  background-color: #99A;
}

.cb99A, .cb2 {
  border-color: #99A;
}

.ct99A, .ct2 {
  color: #99A;
}

.cEEF, .c3 {
  background-color: #EEF;
}

.cbEEF, .cb3 {
  border-color: #EEF;
}

.ctEEF, .ct3 {
  color: #EEF;
}

.cA18, .c4 {
  background-color: #A18;
}

.cbA18, .cb4 {
  border-color: #A18;
}

.ctA18, .ct4 {
  color: #A18;
}

.cF0C, .c5 {
  background-color: #F0C;
}

.cbF0C, .cb5 {
  border-color: #F0C;
}

.ctF0C, .ct5 {
  color: #F0C;
}

.cEBF, .c6 {
  background-color: #EBF;
}

.cbEBF, .cb6 {
  border-color: #EBF;
}

.ctEBF, .ct6 {
  color: #EBF;
}

.c15C, .c7 {
  background-color: #15C;
}

.cb15C, .cb7 {
  border-color: #15C;
}

.ct15C, .ct7 {
  color: #15C;
}

.c69F, .c8 {
  background-color: #69F;
}

.cb69F, .cb8 {
  border-color: #69F;
}

.ct69F, .ct8 {
  color: #69F;
}

.cCDF, .c9 {
  background-color: #CDF;
}

.cbCDF, .cb9 {
  border-color: #CDF;
}

.ctCDF, .ct9 {
  color: #CDF;
}

.c5A0, .c10 {
  background-color: #5A0;
}

.cb5A0, .cb10 {
  border-color: #5A0;
}

.ct5A0, .ct10 {
  color: #5A0;
}

.c8F0, .c11 {
  background-color: #8F0;
}

.cb8F0, .cb11 {
  border-color: #8F0;
}

.ct8F0, .ct11 {
  color: #8F0;
}

.cCF9, .c12 {
  background-color: #CF9;
}

.cbCF9, .cb12 {
  border-color: #CF9;
}

.ctCF9, .ct12 {
  color: #CF9;
}

.cC05, .c13 {
  background-color: #C05;
}

.cbC05, .cb13 {
  border-color: #C05;
}

.ctC05, .ct13 {
  color: #C05;
}

.cF06, .c14 {
  background-color: #F06;
}

.cbF06, .cb14 {
  border-color: #F06;
}

.ctF06, .ct14 {
  color: #F06;
}

.cFBB, .c15 {
  background-color: #FBB;
}

.cbFBB, .cb15 {
  border-color: #FBB;
}

.ctFBB, .ct15 {
  color: #FBB;
}

.c940, .c16 {
  background-color: #940;
}

.cb940, .cb16 {
  border-color: #940;
}

.ct940, .ct16 {
  color: #940;
}

.cD83, .c17 {
  background-color: #D83;
}

.cbD83, .cb17 {
  border-color: #D83;
}

.ctD83, .ct17 {
  color: #D83;
}

.cFED, .c18 {
  background-color: #FED;
}

.cbFED, .cb18 {
  border-color: #FED;
}

.ctFED, .ct18 {
  color: #FED;
}

/* yes/no > !important */
.noshadow, .nsdw {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.sdw-0-0-2 {
  -webkit-box-shadow: 0px 0px 2px;
  -moz-box-shadow: 0px 0px 2px;
  box-shadow: 0px 0px 2px;
}

.sdw-0-0-2-c334, .sdw-0-0-2-c1 {
  -webkit-box-shadow: 0px 0px 2px #334;
  -moz-box-shadow: 0px 0px 2px #334;
  box-shadow: 0px 0px 2px #334;
}

.sdw-0-0-4 {
  -webkit-box-shadow: 0px 0px 4px;
  -moz-box-shadow: 0px 0px 4px;
  box-shadow: 0px 0px 4px;
}

.sdw-0-0-4-c334, .sdw-0-0-4-c1 {
  -webkit-box-shadow: 0px 0px 4px #334;
  -moz-box-shadow: 0px 0px 4px #334;
  box-shadow: 0px 0px 4px #334;
}

.sdw-0-0-6 {
  -webkit-box-shadow: 0px 0px 6px;
  -moz-box-shadow: 0px 0px 6px;
  box-shadow: 0px 0px 6px;
}

.sdw-0-0-6-c334, .sdw-0-0-6-c1 {
  -webkit-box-shadow: 0px 0px 6px #334;
  -moz-box-shadow: 0px 0px 6px #334;
  box-shadow: 0px 0px 6px #334;
}

.sdw-0-2-2 {
  -webkit-box-shadow: 0px 2px 2px;
  -moz-box-shadow: 0px 2px 2px;
  box-shadow: 0px 2px 2px;
}

.sdw-0-2-2-c334, .sdw-0-2-2-c1 {
  -webkit-box-shadow: 0px 2px 2px #334;
  -moz-box-shadow: 0px 2px 2px #334;
  box-shadow: 0px 2px 2px #334;
}

.sdw-0-2-4 {
  -webkit-box-shadow: 0px 2px 4px;
  -moz-box-shadow: 0px 2px 4px;
  box-shadow: 0px 2px 4px;
}

.sdw-0-2-4-c334, .sdw-0-2-4-c1 {
  -webkit-box-shadow: 0px 2px 4px #334;
  -moz-box-shadow: 0px 2px 4px #334;
  box-shadow: 0px 2px 4px #334;
}

.sdw-0-0-2 {
  -webkit-box-shadow: 0px 0px 2px;
  -moz-box-shadow: 0px 0px 2px;
  box-shadow: 0px 0px 2px;
}

.sdw-0-0-2-c99A, .sdw-0-0-2-c2 {
  -webkit-box-shadow: 0px 0px 2px #99A;
  -moz-box-shadow: 0px 0px 2px #99A;
  box-shadow: 0px 0px 2px #99A;
}

.sdw-0-0-4 {
  -webkit-box-shadow: 0px 0px 4px;
  -moz-box-shadow: 0px 0px 4px;
  box-shadow: 0px 0px 4px;
}

.sdw-0-0-4-c99A, .sdw-0-0-4-c2 {
  -webkit-box-shadow: 0px 0px 4px #99A;
  -moz-box-shadow: 0px 0px 4px #99A;
  box-shadow: 0px 0px 4px #99A;
}

.sdw-0-0-6 {
  -webkit-box-shadow: 0px 0px 6px;
  -moz-box-shadow: 0px 0px 6px;
  box-shadow: 0px 0px 6px;
}

.sdw-0-0-6-c99A, .sdw-0-0-6-c2 {
  -webkit-box-shadow: 0px 0px 6px #99A;
  -moz-box-shadow: 0px 0px 6px #99A;
  box-shadow: 0px 0px 6px #99A;
}

.sdw-0-2-2 {
  -webkit-box-shadow: 0px 2px 2px;
  -moz-box-shadow: 0px 2px 2px;
  box-shadow: 0px 2px 2px;
}

.sdw-0-2-2-c99A, .sdw-0-2-2-c2 {
  -webkit-box-shadow: 0px 2px 2px #99A;
  -moz-box-shadow: 0px 2px 2px #99A;
  box-shadow: 0px 2px 2px #99A;
}

.sdw-0-2-4 {
  -webkit-box-shadow: 0px 2px 4px;
  -moz-box-shadow: 0px 2px 4px;
  box-shadow: 0px 2px 4px;
}

.sdw-0-2-4-c99A, .sdw-0-2-4-c2 {
  -webkit-box-shadow: 0px 2px 4px #99A;
  -moz-box-shadow: 0px 2px 4px #99A;
  box-shadow: 0px 2px 4px #99A;
}

.sdw-0-0-2 {
  -webkit-box-shadow: 0px 0px 2px;
  -moz-box-shadow: 0px 0px 2px;
  box-shadow: 0px 0px 2px;
}

.sdw-0-0-2-cEEF, .sdw-0-0-2-c3 {
  -webkit-box-shadow: 0px 0px 2px #EEF;
  -moz-box-shadow: 0px 0px 2px #EEF;
  box-shadow: 0px 0px 2px #EEF;
}

.sdw-0-0-4 {
  -webkit-box-shadow: 0px 0px 4px;
  -moz-box-shadow: 0px 0px 4px;
  box-shadow: 0px 0px 4px;
}

.sdw-0-0-4-cEEF, .sdw-0-0-4-c3 {
  -webkit-box-shadow: 0px 0px 4px #EEF;
  -moz-box-shadow: 0px 0px 4px #EEF;
  box-shadow: 0px 0px 4px #EEF;
}

.sdw-0-0-6 {
  -webkit-box-shadow: 0px 0px 6px;
  -moz-box-shadow: 0px 0px 6px;
  box-shadow: 0px 0px 6px;
}

.sdw-0-0-6-cEEF, .sdw-0-0-6-c3 {
  -webkit-box-shadow: 0px 0px 6px #EEF;
  -moz-box-shadow: 0px 0px 6px #EEF;
  box-shadow: 0px 0px 6px #EEF;
}

.sdw-0-2-2 {
  -webkit-box-shadow: 0px 2px 2px;
  -moz-box-shadow: 0px 2px 2px;
  box-shadow: 0px 2px 2px;
}

.sdw-0-2-2-cEEF, .sdw-0-2-2-c3 {
  -webkit-box-shadow: 0px 2px 2px #EEF;
  -moz-box-shadow: 0px 2px 2px #EEF;
  box-shadow: 0px 2px 2px #EEF;
}

.sdw-0-2-4 {
  -webkit-box-shadow: 0px 2px 4px;
  -moz-box-shadow: 0px 2px 4px;
  box-shadow: 0px 2px 4px;
}

.sdw-0-2-4-cEEF, .sdw-0-2-4-c3 {
  -webkit-box-shadow: 0px 2px 4px #EEF;
  -moz-box-shadow: 0px 2px 4px #EEF;
  box-shadow: 0px 2px 4px #EEF;
}

.sdw-0-0-2 {
  -webkit-box-shadow: 0px 0px 2px;
  -moz-box-shadow: 0px 0px 2px;
  box-shadow: 0px 0px 2px;
}

.sdw-0-0-2-cA18, .sdw-0-0-2-c4 {
  -webkit-box-shadow: 0px 0px 2px #A18;
  -moz-box-shadow: 0px 0px 2px #A18;
  box-shadow: 0px 0px 2px #A18;
}

.sdw-0-0-4 {
  -webkit-box-shadow: 0px 0px 4px;
  -moz-box-shadow: 0px 0px 4px;
  box-shadow: 0px 0px 4px;
}

.sdw-0-0-4-cA18, .sdw-0-0-4-c4 {
  -webkit-box-shadow: 0px 0px 4px #A18;
  -moz-box-shadow: 0px 0px 4px #A18;
  box-shadow: 0px 0px 4px #A18;
}

.sdw-0-0-6 {
  -webkit-box-shadow: 0px 0px 6px;
  -moz-box-shadow: 0px 0px 6px;
  box-shadow: 0px 0px 6px;
}

.sdw-0-0-6-cA18, .sdw-0-0-6-c4 {
  -webkit-box-shadow: 0px 0px 6px #A18;
  -moz-box-shadow: 0px 0px 6px #A18;
  box-shadow: 0px 0px 6px #A18;
}

.sdw-0-2-2 {
  -webkit-box-shadow: 0px 2px 2px;
  -moz-box-shadow: 0px 2px 2px;
  box-shadow: 0px 2px 2px;
}

.sdw-0-2-2-cA18, .sdw-0-2-2-c4 {
  -webkit-box-shadow: 0px 2px 2px #A18;
  -moz-box-shadow: 0px 2px 2px #A18;
  box-shadow: 0px 2px 2px #A18;
}

.sdw-0-2-4 {
  -webkit-box-shadow: 0px 2px 4px;
  -moz-box-shadow: 0px 2px 4px;
  box-shadow: 0px 2px 4px;
}

.sdw-0-2-4-cA18, .sdw-0-2-4-c4 {
  -webkit-box-shadow: 0px 2px 4px #A18;
  -moz-box-shadow: 0px 2px 4px #A18;
  box-shadow: 0px 2px 4px #A18;
}

.sdw-0-0-2 {
  -webkit-box-shadow: 0px 0px 2px;
  -moz-box-shadow: 0px 0px 2px;
  box-shadow: 0px 0px 2px;
}

.sdw-0-0-2-cF0C, .sdw-0-0-2-c5 {
  -webkit-box-shadow: 0px 0px 2px #F0C;
  -moz-box-shadow: 0px 0px 2px #F0C;
  box-shadow: 0px 0px 2px #F0C;
}

.sdw-0-0-4 {
  -webkit-box-shadow: 0px 0px 4px;
  -moz-box-shadow: 0px 0px 4px;
  box-shadow: 0px 0px 4px;
}

.sdw-0-0-4-cF0C, .sdw-0-0-4-c5 {
  -webkit-box-shadow: 0px 0px 4px #F0C;
  -moz-box-shadow: 0px 0px 4px #F0C;
  box-shadow: 0px 0px 4px #F0C;
}

.sdw-0-0-6 {
  -webkit-box-shadow: 0px 0px 6px;
  -moz-box-shadow: 0px 0px 6px;
  box-shadow: 0px 0px 6px;
}

.sdw-0-0-6-cF0C, .sdw-0-0-6-c5 {
  -webkit-box-shadow: 0px 0px 6px #F0C;
  -moz-box-shadow: 0px 0px 6px #F0C;
  box-shadow: 0px 0px 6px #F0C;
}

.sdw-0-2-2 {
  -webkit-box-shadow: 0px 2px 2px;
  -moz-box-shadow: 0px 2px 2px;
  box-shadow: 0px 2px 2px;
}

.sdw-0-2-2-cF0C, .sdw-0-2-2-c5 {
  -webkit-box-shadow: 0px 2px 2px #F0C;
  -moz-box-shadow: 0px 2px 2px #F0C;
  box-shadow: 0px 2px 2px #F0C;
}

.sdw-0-2-4 {
  -webkit-box-shadow: 0px 2px 4px;
  -moz-box-shadow: 0px 2px 4px;
  box-shadow: 0px 2px 4px;
}

.sdw-0-2-4-cF0C, .sdw-0-2-4-c5 {
  -webkit-box-shadow: 0px 2px 4px #F0C;
  -moz-box-shadow: 0px 2px 4px #F0C;
  box-shadow: 0px 2px 4px #F0C;
}

.sdw-0-0-2 {
  -webkit-box-shadow: 0px 0px 2px;
  -moz-box-shadow: 0px 0px 2px;
  box-shadow: 0px 0px 2px;
}

.sdw-0-0-2-cEBF, .sdw-0-0-2-c6 {
  -webkit-box-shadow: 0px 0px 2px #EBF;
  -moz-box-shadow: 0px 0px 2px #EBF;
  box-shadow: 0px 0px 2px #EBF;
}

.sdw-0-0-4 {
  -webkit-box-shadow: 0px 0px 4px;
  -moz-box-shadow: 0px 0px 4px;
  box-shadow: 0px 0px 4px;
}

.sdw-0-0-4-cEBF, .sdw-0-0-4-c6 {
  -webkit-box-shadow: 0px 0px 4px #EBF;
  -moz-box-shadow: 0px 0px 4px #EBF;
  box-shadow: 0px 0px 4px #EBF;
}

.sdw-0-0-6 {
  -webkit-box-shadow: 0px 0px 6px;
  -moz-box-shadow: 0px 0px 6px;
  box-shadow: 0px 0px 6px;
}

.sdw-0-0-6-cEBF, .sdw-0-0-6-c6 {
  -webkit-box-shadow: 0px 0px 6px #EBF;
  -moz-box-shadow: 0px 0px 6px #EBF;
  box-shadow: 0px 0px 6px #EBF;
}

.sdw-0-2-2 {
  -webkit-box-shadow: 0px 2px 2px;
  -moz-box-shadow: 0px 2px 2px;
  box-shadow: 0px 2px 2px;
}

.sdw-0-2-2-cEBF, .sdw-0-2-2-c6 {
  -webkit-box-shadow: 0px 2px 2px #EBF;
  -moz-box-shadow: 0px 2px 2px #EBF;
  box-shadow: 0px 2px 2px #EBF;
}

.sdw-0-2-4 {
  -webkit-box-shadow: 0px 2px 4px;
  -moz-box-shadow: 0px 2px 4px;
  box-shadow: 0px 2px 4px;
}

.sdw-0-2-4-cEBF, .sdw-0-2-4-c6 {
  -webkit-box-shadow: 0px 2px 4px #EBF;
  -moz-box-shadow: 0px 2px 4px #EBF;
  box-shadow: 0px 2px 4px #EBF;
}

.sdw-0-0-2 {
  -webkit-box-shadow: 0px 0px 2px;
  -moz-box-shadow: 0px 0px 2px;
  box-shadow: 0px 0px 2px;
}

.sdw-0-0-2-c15C, .sdw-0-0-2-c7 {
  -webkit-box-shadow: 0px 0px 2px #15C;
  -moz-box-shadow: 0px 0px 2px #15C;
  box-shadow: 0px 0px 2px #15C;
}

.sdw-0-0-4 {
  -webkit-box-shadow: 0px 0px 4px;
  -moz-box-shadow: 0px 0px 4px;
  box-shadow: 0px 0px 4px;
}

.sdw-0-0-4-c15C, .sdw-0-0-4-c7 {
  -webkit-box-shadow: 0px 0px 4px #15C;
  -moz-box-shadow: 0px 0px 4px #15C;
  box-shadow: 0px 0px 4px #15C;
}

.sdw-0-0-6 {
  -webkit-box-shadow: 0px 0px 6px;
  -moz-box-shadow: 0px 0px 6px;
  box-shadow: 0px 0px 6px;
}

.sdw-0-0-6-c15C, .sdw-0-0-6-c7 {
  -webkit-box-shadow: 0px 0px 6px #15C;
  -moz-box-shadow: 0px 0px 6px #15C;
  box-shadow: 0px 0px 6px #15C;
}

.sdw-0-2-2 {
  -webkit-box-shadow: 0px 2px 2px;
  -moz-box-shadow: 0px 2px 2px;
  box-shadow: 0px 2px 2px;
}

.sdw-0-2-2-c15C, .sdw-0-2-2-c7 {
  -webkit-box-shadow: 0px 2px 2px #15C;
  -moz-box-shadow: 0px 2px 2px #15C;
  box-shadow: 0px 2px 2px #15C;
}

.sdw-0-2-4 {
  -webkit-box-shadow: 0px 2px 4px;
  -moz-box-shadow: 0px 2px 4px;
  box-shadow: 0px 2px 4px;
}

.sdw-0-2-4-c15C, .sdw-0-2-4-c7 {
  -webkit-box-shadow: 0px 2px 4px #15C;
  -moz-box-shadow: 0px 2px 4px #15C;
  box-shadow: 0px 2px 4px #15C;
}

.sdw-0-0-2 {
  -webkit-box-shadow: 0px 0px 2px;
  -moz-box-shadow: 0px 0px 2px;
  box-shadow: 0px 0px 2px;
}

.sdw-0-0-2-c69F, .sdw-0-0-2-c8 {
  -webkit-box-shadow: 0px 0px 2px #69F;
  -moz-box-shadow: 0px 0px 2px #69F;
  box-shadow: 0px 0px 2px #69F;
}

.sdw-0-0-4 {
  -webkit-box-shadow: 0px 0px 4px;
  -moz-box-shadow: 0px 0px 4px;
  box-shadow: 0px 0px 4px;
}

.sdw-0-0-4-c69F, .sdw-0-0-4-c8 {
  -webkit-box-shadow: 0px 0px 4px #69F;
  -moz-box-shadow: 0px 0px 4px #69F;
  box-shadow: 0px 0px 4px #69F;
}

.sdw-0-0-6 {
  -webkit-box-shadow: 0px 0px 6px;
  -moz-box-shadow: 0px 0px 6px;
  box-shadow: 0px 0px 6px;
}

.sdw-0-0-6-c69F, .sdw-0-0-6-c8 {
  -webkit-box-shadow: 0px 0px 6px #69F;
  -moz-box-shadow: 0px 0px 6px #69F;
  box-shadow: 0px 0px 6px #69F;
}

.sdw-0-2-2 {
  -webkit-box-shadow: 0px 2px 2px;
  -moz-box-shadow: 0px 2px 2px;
  box-shadow: 0px 2px 2px;
}

.sdw-0-2-2-c69F, .sdw-0-2-2-c8 {
  -webkit-box-shadow: 0px 2px 2px #69F;
  -moz-box-shadow: 0px 2px 2px #69F;
  box-shadow: 0px 2px 2px #69F;
}

.sdw-0-2-4 {
  -webkit-box-shadow: 0px 2px 4px;
  -moz-box-shadow: 0px 2px 4px;
  box-shadow: 0px 2px 4px;
}

.sdw-0-2-4-c69F, .sdw-0-2-4-c8 {
  -webkit-box-shadow: 0px 2px 4px #69F;
  -moz-box-shadow: 0px 2px 4px #69F;
  box-shadow: 0px 2px 4px #69F;
}

.sdw-0-0-2 {
  -webkit-box-shadow: 0px 0px 2px;
  -moz-box-shadow: 0px 0px 2px;
  box-shadow: 0px 0px 2px;
}

.sdw-0-0-2-cCDF, .sdw-0-0-2-c9 {
  -webkit-box-shadow: 0px 0px 2px #CDF;
  -moz-box-shadow: 0px 0px 2px #CDF;
  box-shadow: 0px 0px 2px #CDF;
}

.sdw-0-0-4 {
  -webkit-box-shadow: 0px 0px 4px;
  -moz-box-shadow: 0px 0px 4px;
  box-shadow: 0px 0px 4px;
}

.sdw-0-0-4-cCDF, .sdw-0-0-4-c9 {
  -webkit-box-shadow: 0px 0px 4px #CDF;
  -moz-box-shadow: 0px 0px 4px #CDF;
  box-shadow: 0px 0px 4px #CDF;
}

.sdw-0-0-6 {
  -webkit-box-shadow: 0px 0px 6px;
  -moz-box-shadow: 0px 0px 6px;
  box-shadow: 0px 0px 6px;
}

.sdw-0-0-6-cCDF, .sdw-0-0-6-c9 {
  -webkit-box-shadow: 0px 0px 6px #CDF;
  -moz-box-shadow: 0px 0px 6px #CDF;
  box-shadow: 0px 0px 6px #CDF;
}

.sdw-0-2-2 {
  -webkit-box-shadow: 0px 2px 2px;
  -moz-box-shadow: 0px 2px 2px;
  box-shadow: 0px 2px 2px;
}

.sdw-0-2-2-cCDF, .sdw-0-2-2-c9 {
  -webkit-box-shadow: 0px 2px 2px #CDF;
  -moz-box-shadow: 0px 2px 2px #CDF;
  box-shadow: 0px 2px 2px #CDF;
}

.sdw-0-2-4 {
  -webkit-box-shadow: 0px 2px 4px;
  -moz-box-shadow: 0px 2px 4px;
  box-shadow: 0px 2px 4px;
}

.sdw-0-2-4-cCDF, .sdw-0-2-4-c9 {
  -webkit-box-shadow: 0px 2px 4px #CDF;
  -moz-box-shadow: 0px 2px 4px #CDF;
  box-shadow: 0px 2px 4px #CDF;
}

.sdw-0-0-2 {
  -webkit-box-shadow: 0px 0px 2px;
  -moz-box-shadow: 0px 0px 2px;
  box-shadow: 0px 0px 2px;
}

.sdw-0-0-2-c5A0, .sdw-0-0-2-c10 {
  -webkit-box-shadow: 0px 0px 2px #5A0;
  -moz-box-shadow: 0px 0px 2px #5A0;
  box-shadow: 0px 0px 2px #5A0;
}

.sdw-0-0-4 {
  -webkit-box-shadow: 0px 0px 4px;
  -moz-box-shadow: 0px 0px 4px;
  box-shadow: 0px 0px 4px;
}

.sdw-0-0-4-c5A0, .sdw-0-0-4-c10 {
  -webkit-box-shadow: 0px 0px 4px #5A0;
  -moz-box-shadow: 0px 0px 4px #5A0;
  box-shadow: 0px 0px 4px #5A0;
}

.sdw-0-0-6 {
  -webkit-box-shadow: 0px 0px 6px;
  -moz-box-shadow: 0px 0px 6px;
  box-shadow: 0px 0px 6px;
}

.sdw-0-0-6-c5A0, .sdw-0-0-6-c10 {
  -webkit-box-shadow: 0px 0px 6px #5A0;
  -moz-box-shadow: 0px 0px 6px #5A0;
  box-shadow: 0px 0px 6px #5A0;
}

.sdw-0-2-2 {
  -webkit-box-shadow: 0px 2px 2px;
  -moz-box-shadow: 0px 2px 2px;
  box-shadow: 0px 2px 2px;
}

.sdw-0-2-2-c5A0, .sdw-0-2-2-c10 {
  -webkit-box-shadow: 0px 2px 2px #5A0;
  -moz-box-shadow: 0px 2px 2px #5A0;
  box-shadow: 0px 2px 2px #5A0;
}

.sdw-0-2-4 {
  -webkit-box-shadow: 0px 2px 4px;
  -moz-box-shadow: 0px 2px 4px;
  box-shadow: 0px 2px 4px;
}

.sdw-0-2-4-c5A0, .sdw-0-2-4-c10 {
  -webkit-box-shadow: 0px 2px 4px #5A0;
  -moz-box-shadow: 0px 2px 4px #5A0;
  box-shadow: 0px 2px 4px #5A0;
}

.sdw-0-0-2 {
  -webkit-box-shadow: 0px 0px 2px;
  -moz-box-shadow: 0px 0px 2px;
  box-shadow: 0px 0px 2px;
}

.sdw-0-0-2-c8F0, .sdw-0-0-2-c11 {
  -webkit-box-shadow: 0px 0px 2px #8F0;
  -moz-box-shadow: 0px 0px 2px #8F0;
  box-shadow: 0px 0px 2px #8F0;
}

.sdw-0-0-4 {
  -webkit-box-shadow: 0px 0px 4px;
  -moz-box-shadow: 0px 0px 4px;
  box-shadow: 0px 0px 4px;
}

.sdw-0-0-4-c8F0, .sdw-0-0-4-c11 {
  -webkit-box-shadow: 0px 0px 4px #8F0;
  -moz-box-shadow: 0px 0px 4px #8F0;
  box-shadow: 0px 0px 4px #8F0;
}

.sdw-0-0-6 {
  -webkit-box-shadow: 0px 0px 6px;
  -moz-box-shadow: 0px 0px 6px;
  box-shadow: 0px 0px 6px;
}

.sdw-0-0-6-c8F0, .sdw-0-0-6-c11 {
  -webkit-box-shadow: 0px 0px 6px #8F0;
  -moz-box-shadow: 0px 0px 6px #8F0;
  box-shadow: 0px 0px 6px #8F0;
}

.sdw-0-2-2 {
  -webkit-box-shadow: 0px 2px 2px;
  -moz-box-shadow: 0px 2px 2px;
  box-shadow: 0px 2px 2px;
}

.sdw-0-2-2-c8F0, .sdw-0-2-2-c11 {
  -webkit-box-shadow: 0px 2px 2px #8F0;
  -moz-box-shadow: 0px 2px 2px #8F0;
  box-shadow: 0px 2px 2px #8F0;
}

.sdw-0-2-4 {
  -webkit-box-shadow: 0px 2px 4px;
  -moz-box-shadow: 0px 2px 4px;
  box-shadow: 0px 2px 4px;
}

.sdw-0-2-4-c8F0, .sdw-0-2-4-c11 {
  -webkit-box-shadow: 0px 2px 4px #8F0;
  -moz-box-shadow: 0px 2px 4px #8F0;
  box-shadow: 0px 2px 4px #8F0;
}

.sdw-0-0-2 {
  -webkit-box-shadow: 0px 0px 2px;
  -moz-box-shadow: 0px 0px 2px;
  box-shadow: 0px 0px 2px;
}

.sdw-0-0-2-cCF9, .sdw-0-0-2-c12 {
  -webkit-box-shadow: 0px 0px 2px #CF9;
  -moz-box-shadow: 0px 0px 2px #CF9;
  box-shadow: 0px 0px 2px #CF9;
}

.sdw-0-0-4 {
  -webkit-box-shadow: 0px 0px 4px;
  -moz-box-shadow: 0px 0px 4px;
  box-shadow: 0px 0px 4px;
}

.sdw-0-0-4-cCF9, .sdw-0-0-4-c12 {
  -webkit-box-shadow: 0px 0px 4px #CF9;
  -moz-box-shadow: 0px 0px 4px #CF9;
  box-shadow: 0px 0px 4px #CF9;
}

.sdw-0-0-6 {
  -webkit-box-shadow: 0px 0px 6px;
  -moz-box-shadow: 0px 0px 6px;
  box-shadow: 0px 0px 6px;
}

.sdw-0-0-6-cCF9, .sdw-0-0-6-c12 {
  -webkit-box-shadow: 0px 0px 6px #CF9;
  -moz-box-shadow: 0px 0px 6px #CF9;
  box-shadow: 0px 0px 6px #CF9;
}

.sdw-0-2-2 {
  -webkit-box-shadow: 0px 2px 2px;
  -moz-box-shadow: 0px 2px 2px;
  box-shadow: 0px 2px 2px;
}

.sdw-0-2-2-cCF9, .sdw-0-2-2-c12 {
  -webkit-box-shadow: 0px 2px 2px #CF9;
  -moz-box-shadow: 0px 2px 2px #CF9;
  box-shadow: 0px 2px 2px #CF9;
}

.sdw-0-2-4 {
  -webkit-box-shadow: 0px 2px 4px;
  -moz-box-shadow: 0px 2px 4px;
  box-shadow: 0px 2px 4px;
}

.sdw-0-2-4-cCF9, .sdw-0-2-4-c12 {
  -webkit-box-shadow: 0px 2px 4px #CF9;
  -moz-box-shadow: 0px 2px 4px #CF9;
  box-shadow: 0px 2px 4px #CF9;
}

.sdw-0-0-2 {
  -webkit-box-shadow: 0px 0px 2px;
  -moz-box-shadow: 0px 0px 2px;
  box-shadow: 0px 0px 2px;
}

.sdw-0-0-2-cC05, .sdw-0-0-2-c13 {
  -webkit-box-shadow: 0px 0px 2px #C05;
  -moz-box-shadow: 0px 0px 2px #C05;
  box-shadow: 0px 0px 2px #C05;
}

.sdw-0-0-4 {
  -webkit-box-shadow: 0px 0px 4px;
  -moz-box-shadow: 0px 0px 4px;
  box-shadow: 0px 0px 4px;
}

.sdw-0-0-4-cC05, .sdw-0-0-4-c13 {
  -webkit-box-shadow: 0px 0px 4px #C05;
  -moz-box-shadow: 0px 0px 4px #C05;
  box-shadow: 0px 0px 4px #C05;
}

.sdw-0-0-6 {
  -webkit-box-shadow: 0px 0px 6px;
  -moz-box-shadow: 0px 0px 6px;
  box-shadow: 0px 0px 6px;
}

.sdw-0-0-6-cC05, .sdw-0-0-6-c13 {
  -webkit-box-shadow: 0px 0px 6px #C05;
  -moz-box-shadow: 0px 0px 6px #C05;
  box-shadow: 0px 0px 6px #C05;
}

.sdw-0-2-2 {
  -webkit-box-shadow: 0px 2px 2px;
  -moz-box-shadow: 0px 2px 2px;
  box-shadow: 0px 2px 2px;
}

.sdw-0-2-2-cC05, .sdw-0-2-2-c13 {
  -webkit-box-shadow: 0px 2px 2px #C05;
  -moz-box-shadow: 0px 2px 2px #C05;
  box-shadow: 0px 2px 2px #C05;
}

.sdw-0-2-4 {
  -webkit-box-shadow: 0px 2px 4px;
  -moz-box-shadow: 0px 2px 4px;
  box-shadow: 0px 2px 4px;
}

.sdw-0-2-4-cC05, .sdw-0-2-4-c13 {
  -webkit-box-shadow: 0px 2px 4px #C05;
  -moz-box-shadow: 0px 2px 4px #C05;
  box-shadow: 0px 2px 4px #C05;
}

.sdw-0-0-2 {
  -webkit-box-shadow: 0px 0px 2px;
  -moz-box-shadow: 0px 0px 2px;
  box-shadow: 0px 0px 2px;
}

.sdw-0-0-2-cF06, .sdw-0-0-2-c14 {
  -webkit-box-shadow: 0px 0px 2px #F06;
  -moz-box-shadow: 0px 0px 2px #F06;
  box-shadow: 0px 0px 2px #F06;
}

.sdw-0-0-4 {
  -webkit-box-shadow: 0px 0px 4px;
  -moz-box-shadow: 0px 0px 4px;
  box-shadow: 0px 0px 4px;
}

.sdw-0-0-4-cF06, .sdw-0-0-4-c14 {
  -webkit-box-shadow: 0px 0px 4px #F06;
  -moz-box-shadow: 0px 0px 4px #F06;
  box-shadow: 0px 0px 4px #F06;
}

.sdw-0-0-6 {
  -webkit-box-shadow: 0px 0px 6px;
  -moz-box-shadow: 0px 0px 6px;
  box-shadow: 0px 0px 6px;
}

.sdw-0-0-6-cF06, .sdw-0-0-6-c14 {
  -webkit-box-shadow: 0px 0px 6px #F06;
  -moz-box-shadow: 0px 0px 6px #F06;
  box-shadow: 0px 0px 6px #F06;
}

.sdw-0-2-2 {
  -webkit-box-shadow: 0px 2px 2px;
  -moz-box-shadow: 0px 2px 2px;
  box-shadow: 0px 2px 2px;
}

.sdw-0-2-2-cF06, .sdw-0-2-2-c14 {
  -webkit-box-shadow: 0px 2px 2px #F06;
  -moz-box-shadow: 0px 2px 2px #F06;
  box-shadow: 0px 2px 2px #F06;
}

.sdw-0-2-4 {
  -webkit-box-shadow: 0px 2px 4px;
  -moz-box-shadow: 0px 2px 4px;
  box-shadow: 0px 2px 4px;
}

.sdw-0-2-4-cF06, .sdw-0-2-4-c14 {
  -webkit-box-shadow: 0px 2px 4px #F06;
  -moz-box-shadow: 0px 2px 4px #F06;
  box-shadow: 0px 2px 4px #F06;
}

.sdw-0-0-2 {
  -webkit-box-shadow: 0px 0px 2px;
  -moz-box-shadow: 0px 0px 2px;
  box-shadow: 0px 0px 2px;
}

.sdw-0-0-2-cFBB, .sdw-0-0-2-c15 {
  -webkit-box-shadow: 0px 0px 2px #FBB;
  -moz-box-shadow: 0px 0px 2px #FBB;
  box-shadow: 0px 0px 2px #FBB;
}

.sdw-0-0-4 {
  -webkit-box-shadow: 0px 0px 4px;
  -moz-box-shadow: 0px 0px 4px;
  box-shadow: 0px 0px 4px;
}

.sdw-0-0-4-cFBB, .sdw-0-0-4-c15 {
  -webkit-box-shadow: 0px 0px 4px #FBB;
  -moz-box-shadow: 0px 0px 4px #FBB;
  box-shadow: 0px 0px 4px #FBB;
}

.sdw-0-0-6 {
  -webkit-box-shadow: 0px 0px 6px;
  -moz-box-shadow: 0px 0px 6px;
  box-shadow: 0px 0px 6px;
}

.sdw-0-0-6-cFBB, .sdw-0-0-6-c15 {
  -webkit-box-shadow: 0px 0px 6px #FBB;
  -moz-box-shadow: 0px 0px 6px #FBB;
  box-shadow: 0px 0px 6px #FBB;
}

.sdw-0-2-2 {
  -webkit-box-shadow: 0px 2px 2px;
  -moz-box-shadow: 0px 2px 2px;
  box-shadow: 0px 2px 2px;
}

.sdw-0-2-2-cFBB, .sdw-0-2-2-c15 {
  -webkit-box-shadow: 0px 2px 2px #FBB;
  -moz-box-shadow: 0px 2px 2px #FBB;
  box-shadow: 0px 2px 2px #FBB;
}

.sdw-0-2-4 {
  -webkit-box-shadow: 0px 2px 4px;
  -moz-box-shadow: 0px 2px 4px;
  box-shadow: 0px 2px 4px;
}

.sdw-0-2-4-cFBB, .sdw-0-2-4-c15 {
  -webkit-box-shadow: 0px 2px 4px #FBB;
  -moz-box-shadow: 0px 2px 4px #FBB;
  box-shadow: 0px 2px 4px #FBB;
}

.sdw-0-0-2 {
  -webkit-box-shadow: 0px 0px 2px;
  -moz-box-shadow: 0px 0px 2px;
  box-shadow: 0px 0px 2px;
}

.sdw-0-0-2-c940, .sdw-0-0-2-c16 {
  -webkit-box-shadow: 0px 0px 2px #940;
  -moz-box-shadow: 0px 0px 2px #940;
  box-shadow: 0px 0px 2px #940;
}

.sdw-0-0-4 {
  -webkit-box-shadow: 0px 0px 4px;
  -moz-box-shadow: 0px 0px 4px;
  box-shadow: 0px 0px 4px;
}

.sdw-0-0-4-c940, .sdw-0-0-4-c16 {
  -webkit-box-shadow: 0px 0px 4px #940;
  -moz-box-shadow: 0px 0px 4px #940;
  box-shadow: 0px 0px 4px #940;
}

.sdw-0-0-6 {
  -webkit-box-shadow: 0px 0px 6px;
  -moz-box-shadow: 0px 0px 6px;
  box-shadow: 0px 0px 6px;
}

.sdw-0-0-6-c940, .sdw-0-0-6-c16 {
  -webkit-box-shadow: 0px 0px 6px #940;
  -moz-box-shadow: 0px 0px 6px #940;
  box-shadow: 0px 0px 6px #940;
}

.sdw-0-2-2 {
  -webkit-box-shadow: 0px 2px 2px;
  -moz-box-shadow: 0px 2px 2px;
  box-shadow: 0px 2px 2px;
}

.sdw-0-2-2-c940, .sdw-0-2-2-c16 {
  -webkit-box-shadow: 0px 2px 2px #940;
  -moz-box-shadow: 0px 2px 2px #940;
  box-shadow: 0px 2px 2px #940;
}

.sdw-0-2-4 {
  -webkit-box-shadow: 0px 2px 4px;
  -moz-box-shadow: 0px 2px 4px;
  box-shadow: 0px 2px 4px;
}

.sdw-0-2-4-c940, .sdw-0-2-4-c16 {
  -webkit-box-shadow: 0px 2px 4px #940;
  -moz-box-shadow: 0px 2px 4px #940;
  box-shadow: 0px 2px 4px #940;
}

.sdw-0-0-2 {
  -webkit-box-shadow: 0px 0px 2px;
  -moz-box-shadow: 0px 0px 2px;
  box-shadow: 0px 0px 2px;
}

.sdw-0-0-2-cD83, .sdw-0-0-2-c17 {
  -webkit-box-shadow: 0px 0px 2px #D83;
  -moz-box-shadow: 0px 0px 2px #D83;
  box-shadow: 0px 0px 2px #D83;
}

.sdw-0-0-4 {
  -webkit-box-shadow: 0px 0px 4px;
  -moz-box-shadow: 0px 0px 4px;
  box-shadow: 0px 0px 4px;
}

.sdw-0-0-4-cD83, .sdw-0-0-4-c17 {
  -webkit-box-shadow: 0px 0px 4px #D83;
  -moz-box-shadow: 0px 0px 4px #D83;
  box-shadow: 0px 0px 4px #D83;
}

.sdw-0-0-6 {
  -webkit-box-shadow: 0px 0px 6px;
  -moz-box-shadow: 0px 0px 6px;
  box-shadow: 0px 0px 6px;
}

.sdw-0-0-6-cD83, .sdw-0-0-6-c17 {
  -webkit-box-shadow: 0px 0px 6px #D83;
  -moz-box-shadow: 0px 0px 6px #D83;
  box-shadow: 0px 0px 6px #D83;
}

.sdw-0-2-2 {
  -webkit-box-shadow: 0px 2px 2px;
  -moz-box-shadow: 0px 2px 2px;
  box-shadow: 0px 2px 2px;
}

.sdw-0-2-2-cD83, .sdw-0-2-2-c17 {
  -webkit-box-shadow: 0px 2px 2px #D83;
  -moz-box-shadow: 0px 2px 2px #D83;
  box-shadow: 0px 2px 2px #D83;
}

.sdw-0-2-4 {
  -webkit-box-shadow: 0px 2px 4px;
  -moz-box-shadow: 0px 2px 4px;
  box-shadow: 0px 2px 4px;
}

.sdw-0-2-4-cD83, .sdw-0-2-4-c17 {
  -webkit-box-shadow: 0px 2px 4px #D83;
  -moz-box-shadow: 0px 2px 4px #D83;
  box-shadow: 0px 2px 4px #D83;
}

.sdw-0-0-2 {
  -webkit-box-shadow: 0px 0px 2px;
  -moz-box-shadow: 0px 0px 2px;
  box-shadow: 0px 0px 2px;
}

.sdw-0-0-2-cFED, .sdw-0-0-2-c18 {
  -webkit-box-shadow: 0px 0px 2px #FED;
  -moz-box-shadow: 0px 0px 2px #FED;
  box-shadow: 0px 0px 2px #FED;
}

.sdw-0-0-4 {
  -webkit-box-shadow: 0px 0px 4px;
  -moz-box-shadow: 0px 0px 4px;
  box-shadow: 0px 0px 4px;
}

.sdw-0-0-4-cFED, .sdw-0-0-4-c18 {
  -webkit-box-shadow: 0px 0px 4px #FED;
  -moz-box-shadow: 0px 0px 4px #FED;
  box-shadow: 0px 0px 4px #FED;
}

.sdw-0-0-6 {
  -webkit-box-shadow: 0px 0px 6px;
  -moz-box-shadow: 0px 0px 6px;
  box-shadow: 0px 0px 6px;
}

.sdw-0-0-6-cFED, .sdw-0-0-6-c18 {
  -webkit-box-shadow: 0px 0px 6px #FED;
  -moz-box-shadow: 0px 0px 6px #FED;
  box-shadow: 0px 0px 6px #FED;
}

.sdw-0-2-2 {
  -webkit-box-shadow: 0px 2px 2px;
  -moz-box-shadow: 0px 2px 2px;
  box-shadow: 0px 2px 2px;
}

.sdw-0-2-2-cFED, .sdw-0-2-2-c18 {
  -webkit-box-shadow: 0px 2px 2px #FED;
  -moz-box-shadow: 0px 2px 2px #FED;
  box-shadow: 0px 2px 2px #FED;
}

.sdw-0-2-4 {
  -webkit-box-shadow: 0px 2px 4px;
  -moz-box-shadow: 0px 2px 4px;
  box-shadow: 0px 2px 4px;
}

.sdw-0-2-4-cFED, .sdw-0-2-4-c18 {
  -webkit-box-shadow: 0px 2px 4px #FED;
  -moz-box-shadow: 0px 2px 4px #FED;
  box-shadow: 0px 2px 4px #FED;
}

/* yes/no > !important */
.border-solid, .b-solid {
  border-style: solid;
}
.border-dashed, .b-dashed {
  border-style: dashed;
}
.border-double, .b-double {
  border-style: double;
}
.border-dotted, .b-dotted {
  border-style: dotted;
}
.border-none, .b-none {
  border: 0 none;
}
.border-inherit, .border-ih, .b-inherit, .b-ih {
  border: inherit;
}

.border-width-1, .b1 {
  border-width: 1px;
}
.border-width-t1, .bt1 {
  border-top-width: 1px;
}
.border-width-r1, .br1 {
  border-right-width: 1px;
}
.border-width-b1, .bb1 {
  border-bottom-width: 1px;
}
.border-width-l1, .bl1 {
  border-left-width: 1px;
}

.border-width-inherit, .bih {
  border-width: inherit;
}

.border-width-2, .b2 {
  border-width: 2px;
}
.border-width-t2, .bt2 {
  border-top-width: 2px;
}
.border-width-r2, .br2 {
  border-right-width: 2px;
}
.border-width-b2, .bb2 {
  border-bottom-width: 2px;
}
.border-width-l2, .bl2 {
  border-left-width: 2px;
}

.border-width-inherit, .bih {
  border-width: inherit;
}

.border-width-3, .b3 {
  border-width: 3px;
}
.border-width-t3, .bt3 {
  border-top-width: 3px;
}
.border-width-r3, .br3 {
  border-right-width: 3px;
}
.border-width-b3, .bb3 {
  border-bottom-width: 3px;
}
.border-width-l3, .bl3 {
  border-left-width: 3px;
}

.border-width-inherit, .bih {
  border-width: inherit;
}

.border-width-4, .b4 {
  border-width: 4px;
}
.border-width-t4, .bt4 {
  border-top-width: 4px;
}
.border-width-r4, .br4 {
  border-right-width: 4px;
}
.border-width-b4, .bb4 {
  border-bottom-width: 4px;
}
.border-width-l4, .bl4 {
  border-left-width: 4px;
}

.border-width-inherit, .bih {
  border-width: inherit;
}

.border-width-5, .b5 {
  border-width: 5px;
}
.border-width-t5, .bt5 {
  border-top-width: 5px;
}
.border-width-r5, .br5 {
  border-right-width: 5px;
}
.border-width-b5, .bb5 {
  border-bottom-width: 5px;
}
.border-width-l5, .bl5 {
  border-left-width: 5px;
}

.border-width-inherit, .bih {
  border-width: inherit;
}

.border-width-6, .b6 {
  border-width: 6px;
}
.border-width-t6, .bt6 {
  border-top-width: 6px;
}
.border-width-r6, .br6 {
  border-right-width: 6px;
}
.border-width-b6, .bb6 {
  border-bottom-width: 6px;
}
.border-width-l6, .bl6 {
  border-left-width: 6px;
}

.border-width-inherit, .bih {
  border-width: inherit;
}

.border-width-10, .b10 {
  border-width: 10px;
}
.border-width-t10, .bt10 {
  border-top-width: 10px;
}
.border-width-r10, .br10 {
  border-right-width: 10px;
}
.border-width-b10, .bb10 {
  border-bottom-width: 10px;
}
.border-width-l10, .bl10 {
  border-left-width: 10px;
}

.border-width-inherit, .bih {
  border-width: inherit;
}

.border-width-20, .b20 {
  border-width: 20px;
}
.border-width-t20, .bt20 {
  border-top-width: 20px;
}
.border-width-r20, .br20 {
  border-right-width: 20px;
}
.border-width-b20, .bb20 {
  border-bottom-width: 20px;
}
.border-width-l20, .bl20 {
  border-left-width: 20px;
}

.border-width-inherit, .bih {
  border-width: inherit;
}

.border-radius-2, .br2 {
  border-radius: 2px;
}
.border-radius-t2, .brt2 {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.border-radius-r2, .brr2 {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.border-radius-b2, .brb2 {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.border-radius-l2, .brl2 {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.border-radius-tr2, .brtr2 {
  border-top-right-radius: 2px;
}
.border-radius-br2, .brbr2 {
  border-bottom-right-radius: 2px;
}
.border-radius-bl2, .brbl2 {
  border-bottom-left-radius: 2px;
}
.border-radius-tl2, .brtl2 {
  border-top-left-radius: 2px;
}

.border-radius-3, .br3 {
  border-radius: 3px;
}
.border-radius-t3, .brt3 {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.border-radius-r3, .brr3 {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.border-radius-b3, .brb3 {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.border-radius-l3, .brl3 {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.border-radius-tr3, .brtr3 {
  border-top-right-radius: 3px;
}
.border-radius-br3, .brbr3 {
  border-bottom-right-radius: 3px;
}
.border-radius-bl3, .brbl3 {
  border-bottom-left-radius: 3px;
}
.border-radius-tl3, .brtl3 {
  border-top-left-radius: 3px;
}

.border-radius-4, .br4 {
  border-radius: 4px;
}
.border-radius-t4, .brt4 {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.border-radius-r4, .brr4 {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.border-radius-b4, .brb4 {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.border-radius-l4, .brl4 {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.border-radius-tr4, .brtr4 {
  border-top-right-radius: 4px;
}
.border-radius-br4, .brbr4 {
  border-bottom-right-radius: 4px;
}
.border-radius-bl4, .brbl4 {
  border-bottom-left-radius: 4px;
}
.border-radius-tl4, .brtl4 {
  border-top-left-radius: 4px;
}

.border-radius-5, .br5 {
  border-radius: 5px;
}
.border-radius-t5, .brt5 {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.border-radius-r5, .brr5 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.border-radius-b5, .brb5 {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.border-radius-l5, .brl5 {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.border-radius-tr5, .brtr5 {
  border-top-right-radius: 5px;
}
.border-radius-br5, .brbr5 {
  border-bottom-right-radius: 5px;
}
.border-radius-bl5, .brbl5 {
  border-bottom-left-radius: 5px;
}
.border-radius-tl5, .brtl5 {
  border-top-left-radius: 5px;
}

.border-radius-6, .br6 {
  border-radius: 6px;
}
.border-radius-t6, .brt6 {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.border-radius-r6, .brr6 {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.border-radius-b6, .brb6 {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.border-radius-l6, .brl6 {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.border-radius-tr6, .brtr6 {
  border-top-right-radius: 6px;
}
.border-radius-br6, .brbr6 {
  border-bottom-right-radius: 6px;
}
.border-radius-bl6, .brbl6 {
  border-bottom-left-radius: 6px;
}
.border-radius-tl6, .brtl6 {
  border-top-left-radius: 6px;
}

.border-radius-7, .br7 {
  border-radius: 7px;
}
.border-radius-t7, .brt7 {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.border-radius-r7, .brr7 {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
.border-radius-b7, .brb7 {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.border-radius-l7, .brl7 {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.border-radius-tr7, .brtr7 {
  border-top-right-radius: 7px;
}
.border-radius-br7, .brbr7 {
  border-bottom-right-radius: 7px;
}
.border-radius-bl7, .brbl7 {
  border-bottom-left-radius: 7px;
}
.border-radius-tl7, .brtl7 {
  border-top-left-radius: 7px;
}

.border-radius-8, .br8 {
  border-radius: 8px;
}
.border-radius-t8, .brt8 {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.border-radius-r8, .brr8 {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.border-radius-b8, .brb8 {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.border-radius-l8, .brl8 {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.border-radius-tr8, .brtr8 {
  border-top-right-radius: 8px;
}
.border-radius-br8, .brbr8 {
  border-bottom-right-radius: 8px;
}
.border-radius-bl8, .brbl8 {
  border-bottom-left-radius: 8px;
}
.border-radius-tl8, .brtl8 {
  border-top-left-radius: 8px;
}

.border-radius-20, .br20 {
  border-radius: 20px;
}
.border-radius-t20, .brt20 {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.border-radius-r20, .brr20 {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.border-radius-b20, .brb20 {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.border-radius-l20, .brl20 {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.border-radius-tr20, .brtr20 {
  border-top-right-radius: 20px;
}
.border-radius-br20, .brbr20 {
  border-bottom-right-radius: 20px;
}
.border-radius-bl20, .brbl20 {
  border-bottom-left-radius: 20px;
}
.border-radius-tl20, .brtl20 {
  border-top-left-radius: 20px;
}

.border-radius-50, .br50 {
  border-radius: 50px;
}
.border-radius-t50, .brt50 {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.border-radius-r50, .brr50 {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.border-radius-b50, .brb50 {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.border-radius-l50, .brl50 {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.border-radius-tr50, .brtr50 {
  border-top-right-radius: 50px;
}
.border-radius-br50, .brbr50 {
  border-bottom-right-radius: 50px;
}
.border-radius-bl50, .brbl50 {
  border-bottom-left-radius: 50px;
}
.border-radius-tl50, .brtl50 {
  border-top-left-radius: 50px;
}

.border-radius-100, .br100 {
  border-radius: 100px;
}
.border-radius-t100, .brt100 {
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}
.border-radius-r100, .brr100 {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
.border-radius-b100, .brb100 {
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}
.border-radius-l100, .brl100 {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.border-radius-tr100, .brtr100 {
  border-top-right-radius: 100px;
}
.border-radius-br100, .brbr100 {
  border-bottom-right-radius: 100px;
}
.border-radius-bl100, .brbl100 {
  border-bottom-left-radius: 100px;
}
.border-radius-tl100, .brtl100 {
  border-top-left-radius: 100px;
}

/* yes/no > !important */
[class*=set], [class*=inside-bar] {
  margin: 0;
  padding: 0;
}

@media (min-width: 960px) {
  .set-fixed-960px {
    width: 960px;
  }
  .set-fixed-960px [class*=bar] {
    width: 40px;
  }
  .set-fixed-960px ._1bars {
    width: 40px;
  }
  .set-fixed-960px ._2bars {
    width: 80px;
  }
  .set-fixed-960px ._3bars {
    width: 120px;
  }
  .set-fixed-960px ._4bars {
    width: 160px;
  }
  .set-fixed-960px ._5bars {
    width: 200px;
  }
  .set-fixed-960px ._6bars {
    width: 240px;
  }
  .set-fixed-960px ._7bars {
    width: 280px;
  }
  .set-fixed-960px ._8bars {
    width: 320px;
  }
  .set-fixed-960px ._9bars {
    width: 360px;
  }
  .set-fixed-960px ._10bars {
    width: 400px;
  }
  .set-fixed-960px ._11bars {
    width: 440px;
  }
  .set-fixed-960px ._12bars {
    width: 480px;
  }
  .set-fixed-960px ._13bars {
    width: 520px;
  }
  .set-fixed-960px ._14bars {
    width: 560px;
  }
  .set-fixed-960px ._15bars {
    width: 600px;
  }
  .set-fixed-960px ._16bars {
    width: 640px;
  }
  .set-fixed-960px ._17bars {
    width: 680px;
  }
  .set-fixed-960px ._18bars {
    width: 720px;
  }
  .set-fixed-960px ._19bars {
    width: 760px;
  }
  .set-fixed-960px ._20bars {
    width: 800px;
  }
  .set-fixed-960px ._21bars {
    width: 840px;
  }
  .set-fixed-960px ._22bars {
    width: 880px;
  }
  .set-fixed-960px ._23bars {
    width: 920px;
  }
  .set-fixed-960px ._24bars {
    width: 960px;
  }
}

@media (min-width: 1440px) {
  .set-fixed-1440px {
    width: 1440px;
  }
  .set-fixed-1440px [class*=bar] {
    width: 60px;
  }
  .set-fixed-1440px ._1bars {
    width: 60px;
  }
  .set-fixed-1440px ._2bars {
    width: 120px;
  }
  .set-fixed-1440px ._3bars {
    width: 180px;
  }
  .set-fixed-1440px ._4bars {
    width: 240px;
  }
  .set-fixed-1440px ._5bars {
    width: 300px;
  }
  .set-fixed-1440px ._6bars {
    width: 360px;
  }
  .set-fixed-1440px ._7bars {
    width: 420px;
  }
  .set-fixed-1440px ._8bars {
    width: 480px;
  }
  .set-fixed-1440px ._9bars {
    width: 540px;
  }
  .set-fixed-1440px ._10bars {
    width: 600px;
  }
  .set-fixed-1440px ._11bars {
    width: 660px;
  }
  .set-fixed-1440px ._12bars {
    width: 720px;
  }
  .set-fixed-1440px ._13bars {
    width: 780px;
  }
  .set-fixed-1440px ._14bars {
    width: 840px;
  }
  .set-fixed-1440px ._15bars {
    width: 900px;
  }
  .set-fixed-1440px ._16bars {
    width: 960px;
  }
  .set-fixed-1440px ._17bars {
    width: 1020px;
  }
  .set-fixed-1440px ._18bars {
    width: 1080px;
  }
  .set-fixed-1440px ._19bars {
    width: 1140px;
  }
  .set-fixed-1440px ._20bars {
    width: 1200px;
  }
  .set-fixed-1440px ._21bars {
    width: 1260px;
  }
  .set-fixed-1440px ._22bars {
    width: 1320px;
  }
  .set-fixed-1440px ._23bars {
    width: 1380px;
  }
  .set-fixed-1440px ._24bars {
    width: 1440px;
  }
}

@media (min-width: 1920px) {
  .set-fixed-1920px {
    width: 1920px;
  }
  .set-fixed-1920px [class*=bar] {
    width: 80px;
  }
  .set-fixed-1920px ._1bars {
    width: 80px;
  }
  .set-fixed-1920px ._2bars {
    width: 160px;
  }
  .set-fixed-1920px ._3bars {
    width: 240px;
  }
  .set-fixed-1920px ._4bars {
    width: 320px;
  }
  .set-fixed-1920px ._5bars {
    width: 400px;
  }
  .set-fixed-1920px ._6bars {
    width: 480px;
  }
  .set-fixed-1920px ._7bars {
    width: 560px;
  }
  .set-fixed-1920px ._8bars {
    width: 640px;
  }
  .set-fixed-1920px ._9bars {
    width: 720px;
  }
  .set-fixed-1920px ._10bars {
    width: 800px;
  }
  .set-fixed-1920px ._11bars {
    width: 880px;
  }
  .set-fixed-1920px ._12bars {
    width: 960px;
  }
  .set-fixed-1920px ._13bars {
    width: 1040px;
  }
  .set-fixed-1920px ._14bars {
    width: 1120px;
  }
  .set-fixed-1920px ._15bars {
    width: 1200px;
  }
  .set-fixed-1920px ._16bars {
    width: 1280px;
  }
  .set-fixed-1920px ._17bars {
    width: 1360px;
  }
  .set-fixed-1920px ._18bars {
    width: 1440px;
  }
  .set-fixed-1920px ._19bars {
    width: 1520px;
  }
  .set-fixed-1920px ._20bars {
    width: 1600px;
  }
  .set-fixed-1920px ._21bars {
    width: 1680px;
  }
  .set-fixed-1920px ._22bars {
    width: 1760px;
  }
  .set-fixed-1920px ._23bars {
    width: 1840px;
  }
  .set-fixed-1920px ._24bars {
    width: 1920px;
  }
}

.set-fluid-80 {
  width: 800%;
}
.set-fluid-80 [class*=bar] {
  width: 3.3333333333%;
}
.set-fluid-80 ._1bars {
  width: 3.3333333333%;
}
.set-fluid-80 ._2bars {
  width: 6.6666666667%;
}
.set-fluid-80 ._3bars {
  width: 10%;
}
.set-fluid-80 ._4bars {
  width: 13.3333333333%;
}
.set-fluid-80 ._5bars {
  width: 16.6666666667%;
}
.set-fluid-80 ._6bars {
  width: 20%;
}
.set-fluid-80 ._7bars {
  width: 23.3333333333%;
}
.set-fluid-80 ._8bars {
  width: 26.6666666667%;
}
.set-fluid-80 ._9bars {
  width: 30%;
}
.set-fluid-80 ._10bars {
  width: 33.3333333333%;
}
.set-fluid-80 ._11bars {
  width: 36.6666666667%;
}
.set-fluid-80 ._12bars {
  width: 40%;
}
.set-fluid-80 ._13bars {
  width: 43.3333333333%;
}
.set-fluid-80 ._14bars {
  width: 46.6666666667%;
}
.set-fluid-80 ._15bars {
  width: 50%;
}
.set-fluid-80 ._16bars {
  width: 53.3333333333%;
}
.set-fluid-80 ._17bars {
  width: 56.6666666667%;
}
.set-fluid-80 ._18bars {
  width: 60%;
}
.set-fluid-80 ._19bars {
  width: 63.3333333333%;
}
.set-fluid-80 ._20bars {
  width: 66.6666666667%;
}
.set-fluid-80 ._21bars {
  width: 70%;
}
.set-fluid-80 ._22bars {
  width: 73.3333333333%;
}
.set-fluid-80 ._23bars {
  width: 76.6666666667%;
}
.set-fluid-80 ._24bars {
  width: 80%;
}

.set-fluid-90 {
  width: 900%;
}
.set-fluid-90 [class*=bar] {
  width: 3.75%;
}
.set-fluid-90 ._1bars {
  width: 3.75%;
}
.set-fluid-90 ._2bars {
  width: 7.5%;
}
.set-fluid-90 ._3bars {
  width: 11.25%;
}
.set-fluid-90 ._4bars {
  width: 15%;
}
.set-fluid-90 ._5bars {
  width: 18.75%;
}
.set-fluid-90 ._6bars {
  width: 22.5%;
}
.set-fluid-90 ._7bars {
  width: 26.25%;
}
.set-fluid-90 ._8bars {
  width: 30%;
}
.set-fluid-90 ._9bars {
  width: 33.75%;
}
.set-fluid-90 ._10bars {
  width: 37.5%;
}
.set-fluid-90 ._11bars {
  width: 41.25%;
}
.set-fluid-90 ._12bars {
  width: 45%;
}
.set-fluid-90 ._13bars {
  width: 48.75%;
}
.set-fluid-90 ._14bars {
  width: 52.5%;
}
.set-fluid-90 ._15bars {
  width: 56.25%;
}
.set-fluid-90 ._16bars {
  width: 60%;
}
.set-fluid-90 ._17bars {
  width: 63.75%;
}
.set-fluid-90 ._18bars {
  width: 67.5%;
}
.set-fluid-90 ._19bars {
  width: 71.25%;
}
.set-fluid-90 ._20bars {
  width: 75%;
}
.set-fluid-90 ._21bars {
  width: 78.75%;
}
.set-fluid-90 ._22bars {
  width: 82.5%;
}
.set-fluid-90 ._23bars {
  width: 86.25%;
}
.set-fluid-90 ._24bars {
  width: 90%;
}

.set-fluid-100 {
  width: 1000%;
}
.set-fluid-100 [class*=bar] {
  width: 4.1666666667%;
}
.set-fluid-100 ._1bars {
  width: 4.1666666667%;
}
.set-fluid-100 ._2bars {
  width: 8.3333333333%;
}
.set-fluid-100 ._3bars {
  width: 12.5%;
}
.set-fluid-100 ._4bars {
  width: 16.6666666667%;
}
.set-fluid-100 ._5bars {
  width: 20.8333333333%;
}
.set-fluid-100 ._6bars {
  width: 25%;
}
.set-fluid-100 ._7bars {
  width: 29.1666666667%;
}
.set-fluid-100 ._8bars {
  width: 33.3333333333%;
}
.set-fluid-100 ._9bars {
  width: 37.5%;
}
.set-fluid-100 ._10bars {
  width: 41.6666666667%;
}
.set-fluid-100 ._11bars {
  width: 45.8333333333%;
}
.set-fluid-100 ._12bars {
  width: 50%;
}
.set-fluid-100 ._13bars {
  width: 54.1666666667%;
}
.set-fluid-100 ._14bars {
  width: 58.3333333333%;
}
.set-fluid-100 ._15bars {
  width: 62.5%;
}
.set-fluid-100 ._16bars {
  width: 66.6666666667%;
}
.set-fluid-100 ._17bars {
  width: 70.8333333333%;
}
.set-fluid-100 ._18bars {
  width: 75%;
}
.set-fluid-100 ._19bars {
  width: 79.1666666667%;
}
.set-fluid-100 ._20bars {
  width: 83.3333333333%;
}
.set-fluid-100 ._21bars {
  width: 87.5%;
}
.set-fluid-100 ._22bars {
  width: 91.6666666667%;
}
.set-fluid-100 ._23bars {
  width: 95.8333333333%;
}
.set-fluid-100 ._24bars {
  width: 100%;
}

/* yes/no > !important */
.m0 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.mt0 {
  margin-top: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.mr0 {
  margin-right: 0px;
}

.mr-0 {
  margin-right: 0px;
}

.mb0 {
  margin-bottom: 0px;
}

.mb-0 {
  margin-bottom: 0px;
}

.ml0 {
  margin-left: 0px;
}

.ml-0 {
  margin-left: 0px;
}

.p0 {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.pt0 {
  padding-top: 0px;
}

.pr0 {
  padding-right: 0px;
}

.pb0 {
  padding-bottom: 0px;
}

.pl0 {
  padding-left: 0px;
}

.m2 {
  margin-top: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  margin-left: 2px;
}

.mt2 {
  margin-top: 2px;
}

.mt-2 {
  margin-top: -2px;
}

.mr2 {
  margin-right: 2px;
}

.mr-2 {
  margin-right: -2px;
}

.mb2 {
  margin-bottom: 2px;
}

.mb-2 {
  margin-bottom: -2px;
}

.ml2 {
  margin-left: 2px;
}

.ml-2 {
  margin-left: -2px;
}

.p2 {
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}

.pt2 {
  padding-top: 2px;
}

.pr2 {
  padding-right: 2px;
}

.pb2 {
  padding-bottom: 2px;
}

.pl2 {
  padding-left: 2px;
}

.m4 {
  margin-top: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
}

.mt4 {
  margin-top: 4px;
}

.mt-4 {
  margin-top: -4px;
}

.mr4 {
  margin-right: 4px;
}

.mr-4 {
  margin-right: -4px;
}

.mb4 {
  margin-bottom: 4px;
}

.mb-4 {
  margin-bottom: -4px;
}

.ml4 {
  margin-left: 4px;
}

.ml-4 {
  margin-left: -4px;
}

.p4 {
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
}

.pt4 {
  padding-top: 4px;
}

.pr4 {
  padding-right: 4px;
}

.pb4 {
  padding-bottom: 4px;
}

.pl4 {
  padding-left: 4px;
}

.m6 {
  margin-top: 6px;
  margin-right: 6px;
  margin-bottom: 6px;
  margin-left: 6px;
}

.mt6 {
  margin-top: 6px;
}

.mt-6 {
  margin-top: -6px;
}

.mr6 {
  margin-right: 6px;
}

.mr-6 {
  margin-right: -6px;
}

.mb6 {
  margin-bottom: 6px;
}

.mb-6 {
  margin-bottom: -6px;
}

.ml6 {
  margin-left: 6px;
}

.ml-6 {
  margin-left: -6px;
}

.p6 {
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
}

.pt6 {
  padding-top: 6px;
}

.pr6 {
  padding-right: 6px;
}

.pb6 {
  padding-bottom: 6px;
}

.pl6 {
  padding-left: 6px;
}

.m8 {
  margin-top: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
}

.mt8 {
  margin-top: 8px;
}

.mt-8 {
  margin-top: -8px;
}

.mr8 {
  margin-right: 8px;
}

.mr-8 {
  margin-right: -8px;
}

.mb8 {
  margin-bottom: 8px;
}

.mb-8 {
  margin-bottom: -8px;
}

.ml8 {
  margin-left: 8px;
}

.ml-8 {
  margin-left: -8px;
}

.p8 {
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
}

.pt8 {
  padding-top: 8px;
}

.pr8 {
  padding-right: 8px;
}

.pb8 {
  padding-bottom: 8px;
}

.pl8 {
  padding-left: 8px;
}

.m10 {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.mt10 {
  margin-top: 10px;
}

.mt-10 {
  margin-top: -10px;
}

.mr10 {
  margin-right: 10px;
}

.mr-10 {
  margin-right: -10px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb-10 {
  margin-bottom: -10px;
}

.ml10 {
  margin-left: 10px;
}

.ml-10 {
  margin-left: -10px;
}

.p10 {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.pt10 {
  padding-top: 10px;
}

.pr10 {
  padding-right: 10px;
}

.pb10 {
  padding-bottom: 10px;
}

.pl10 {
  padding-left: 10px;
}

.m12 {
  margin-top: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  margin-left: 12px;
}

.mt12 {
  margin-top: 12px;
}

.mt-12 {
  margin-top: -12px;
}

.mr12 {
  margin-right: 12px;
}

.mr-12 {
  margin-right: -12px;
}

.mb12 {
  margin-bottom: 12px;
}

.mb-12 {
  margin-bottom: -12px;
}

.ml12 {
  margin-left: 12px;
}

.ml-12 {
  margin-left: -12px;
}

.p12 {
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
}

.pt12 {
  padding-top: 12px;
}

.pr12 {
  padding-right: 12px;
}

.pb12 {
  padding-bottom: 12px;
}

.pl12 {
  padding-left: 12px;
}

.m14 {
  margin-top: 14px;
  margin-right: 14px;
  margin-bottom: 14px;
  margin-left: 14px;
}

.mt14 {
  margin-top: 14px;
}

.mt-14 {
  margin-top: -14px;
}

.mr14 {
  margin-right: 14px;
}

.mr-14 {
  margin-right: -14px;
}

.mb14 {
  margin-bottom: 14px;
}

.mb-14 {
  margin-bottom: -14px;
}

.ml14 {
  margin-left: 14px;
}

.ml-14 {
  margin-left: -14px;
}

.p14 {
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
}

.pt14 {
  padding-top: 14px;
}

.pr14 {
  padding-right: 14px;
}

.pb14 {
  padding-bottom: 14px;
}

.pl14 {
  padding-left: 14px;
}

.m16 {
  margin-top: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
}

.mt16 {
  margin-top: 16px;
}

.mt-16 {
  margin-top: -16px;
}

.mr16 {
  margin-right: 16px;
}

.mr-16 {
  margin-right: -16px;
}

.mb16 {
  margin-bottom: 16px;
}

.mb-16 {
  margin-bottom: -16px;
}

.ml16 {
  margin-left: 16px;
}

.ml-16 {
  margin-left: -16px;
}

.p16 {
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}

.pt16 {
  padding-top: 16px;
}

.pr16 {
  padding-right: 16px;
}

.pb16 {
  padding-bottom: 16px;
}

.pl16 {
  padding-left: 16px;
}

.m18 {
  margin-top: 18px;
  margin-right: 18px;
  margin-bottom: 18px;
  margin-left: 18px;
}

.mt18 {
  margin-top: 18px;
}

.mt-18 {
  margin-top: -18px;
}

.mr18 {
  margin-right: 18px;
}

.mr-18 {
  margin-right: -18px;
}

.mb18 {
  margin-bottom: 18px;
}

.mb-18 {
  margin-bottom: -18px;
}

.ml18 {
  margin-left: 18px;
}

.ml-18 {
  margin-left: -18px;
}

.p18 {
  padding-top: 18px;
  padding-right: 18px;
  padding-bottom: 18px;
  padding-left: 18px;
}

.pt18 {
  padding-top: 18px;
}

.pr18 {
  padding-right: 18px;
}

.pb18 {
  padding-bottom: 18px;
}

.pl18 {
  padding-left: 18px;
}

.m20 {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.mt20 {
  margin-top: 20px;
}

.mt-20 {
  margin-top: -20px;
}

.mr20 {
  margin-right: 20px;
}

.mr-20 {
  margin-right: -20px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb-20 {
  margin-bottom: -20px;
}

.ml20 {
  margin-left: 20px;
}

.ml-20 {
  margin-left: -20px;
}

.p20 {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.pt20 {
  padding-top: 20px;
}

.pr20 {
  padding-right: 20px;
}

.pb20 {
  padding-bottom: 20px;
}

.pl20 {
  padding-left: 20px;
}

.m22 {
  margin-top: 22px;
  margin-right: 22px;
  margin-bottom: 22px;
  margin-left: 22px;
}

.mt22 {
  margin-top: 22px;
}

.mt-22 {
  margin-top: -22px;
}

.mr22 {
  margin-right: 22px;
}

.mr-22 {
  margin-right: -22px;
}

.mb22 {
  margin-bottom: 22px;
}

.mb-22 {
  margin-bottom: -22px;
}

.ml22 {
  margin-left: 22px;
}

.ml-22 {
  margin-left: -22px;
}

.p22 {
  padding-top: 22px;
  padding-right: 22px;
  padding-bottom: 22px;
  padding-left: 22px;
}

.pt22 {
  padding-top: 22px;
}

.pr22 {
  padding-right: 22px;
}

.pb22 {
  padding-bottom: 22px;
}

.pl22 {
  padding-left: 22px;
}

.m24 {
  margin-top: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
  margin-left: 24px;
}

.mt24 {
  margin-top: 24px;
}

.mt-24 {
  margin-top: -24px;
}

.mr24 {
  margin-right: 24px;
}

.mr-24 {
  margin-right: -24px;
}

.mb24 {
  margin-bottom: 24px;
}

.mb-24 {
  margin-bottom: -24px;
}

.ml24 {
  margin-left: 24px;
}

.ml-24 {
  margin-left: -24px;
}

.p24 {
  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
}

.pt24 {
  padding-top: 24px;
}

.pr24 {
  padding-right: 24px;
}

.pb24 {
  padding-bottom: 24px;
}

.pl24 {
  padding-left: 24px;
}

.m26 {
  margin-top: 26px;
  margin-right: 26px;
  margin-bottom: 26px;
  margin-left: 26px;
}

.mt26 {
  margin-top: 26px;
}

.mt-26 {
  margin-top: -26px;
}

.mr26 {
  margin-right: 26px;
}

.mr-26 {
  margin-right: -26px;
}

.mb26 {
  margin-bottom: 26px;
}

.mb-26 {
  margin-bottom: -26px;
}

.ml26 {
  margin-left: 26px;
}

.ml-26 {
  margin-left: -26px;
}

.p26 {
  padding-top: 26px;
  padding-right: 26px;
  padding-bottom: 26px;
  padding-left: 26px;
}

.pt26 {
  padding-top: 26px;
}

.pr26 {
  padding-right: 26px;
}

.pb26 {
  padding-bottom: 26px;
}

.pl26 {
  padding-left: 26px;
}

.m28 {
  margin-top: 28px;
  margin-right: 28px;
  margin-bottom: 28px;
  margin-left: 28px;
}

.mt28 {
  margin-top: 28px;
}

.mt-28 {
  margin-top: -28px;
}

.mr28 {
  margin-right: 28px;
}

.mr-28 {
  margin-right: -28px;
}

.mb28 {
  margin-bottom: 28px;
}

.mb-28 {
  margin-bottom: -28px;
}

.ml28 {
  margin-left: 28px;
}

.ml-28 {
  margin-left: -28px;
}

.p28 {
  padding-top: 28px;
  padding-right: 28px;
  padding-bottom: 28px;
  padding-left: 28px;
}

.pt28 {
  padding-top: 28px;
}

.pr28 {
  padding-right: 28px;
}

.pb28 {
  padding-bottom: 28px;
}

.pl28 {
  padding-left: 28px;
}

.m30 {
  margin-top: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
}

.mt30 {
  margin-top: 30px;
}

.mt-30 {
  margin-top: -30px;
}

.mr30 {
  margin-right: 30px;
}

.mr-30 {
  margin-right: -30px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb-30 {
  margin-bottom: -30px;
}

.ml30 {
  margin-left: 30px;
}

.ml-30 {
  margin-left: -30px;
}

.p30 {
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.pt30 {
  padding-top: 30px;
}

.pr30 {
  padding-right: 30px;
}

.pb30 {
  padding-bottom: 30px;
}

.pl30 {
  padding-left: 30px;
}

.m32 {
  margin-top: 32px;
  margin-right: 32px;
  margin-bottom: 32px;
  margin-left: 32px;
}

.mt32 {
  margin-top: 32px;
}

.mt-32 {
  margin-top: -32px;
}

.mr32 {
  margin-right: 32px;
}

.mr-32 {
  margin-right: -32px;
}

.mb32 {
  margin-bottom: 32px;
}

.mb-32 {
  margin-bottom: -32px;
}

.ml32 {
  margin-left: 32px;
}

.ml-32 {
  margin-left: -32px;
}

.p32 {
  padding-top: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
  padding-left: 32px;
}

.pt32 {
  padding-top: 32px;
}

.pr32 {
  padding-right: 32px;
}

.pb32 {
  padding-bottom: 32px;
}

.pl32 {
  padding-left: 32px;
}

.h50 {
  height: 50px;
}

.w50 {
  width: 50px;
}

.hmin50 {
  min-height: 50px;
}

.wmin50 {
  min-width: 50px;
}

.hmax50 {
  max-height: 50px;
}

.wmax50 {
  max-width: 50px;
}

.h100 {
  height: 100px;
}

.w100 {
  width: 100px;
}

.hmin100 {
  min-height: 100px;
}

.wmin100 {
  min-width: 100px;
}

.hmax100 {
  max-height: 100px;
}

.wmax100 {
  max-width: 100px;
}

.h150 {
  height: 150px;
}

.w150 {
  width: 150px;
}

.hmin150 {
  min-height: 150px;
}

.wmin150 {
  min-width: 150px;
}

.hmax150 {
  max-height: 150px;
}

.wmax150 {
  max-width: 150px;
}

.h200 {
  height: 200px;
}

.w200 {
  width: 200px;
}

.hmin200 {
  min-height: 200px;
}

.wmin200 {
  min-width: 200px;
}

.hmax200 {
  max-height: 200px;
}

.wmax200 {
  max-width: 200px;
}

.h250 {
  height: 250px;
}

.w250 {
  width: 250px;
}

.hmin250 {
  min-height: 250px;
}

.wmin250 {
  min-width: 250px;
}

.hmax250 {
  max-height: 250px;
}

.wmax250 {
  max-width: 250px;
}

.h300 {
  height: 300px;
}

.w300 {
  width: 300px;
}

.hmin300 {
  min-height: 300px;
}

.wmin300 {
  min-width: 300px;
}

.hmax300 {
  max-height: 300px;
}

.wmax300 {
  max-width: 300px;
}

.h350 {
  height: 350px;
}

.w350 {
  width: 350px;
}

.hmin350 {
  min-height: 350px;
}

.wmin350 {
  min-width: 350px;
}

.hmax350 {
  max-height: 350px;
}

.wmax350 {
  max-width: 350px;
}

.h400 {
  height: 400px;
}

.w400 {
  width: 400px;
}

.hmin400 {
  min-height: 400px;
}

.wmin400 {
  min-width: 400px;
}

.hmax400 {
  max-height: 400px;
}

.wmax400 {
  max-width: 400px;
}

.h25th {
  height: 25%;
}

.w25th {
  width: 25%;
}

.hmin25th {
  min-height: 25%;
}

.wmin25th {
  min-width: 25%;
}

.hmax25th {
  max-height: 25%;
}

.wmax25th {
  max-width: 25%;
}

.h50th {
  height: 50%;
}

.w50th {
  width: 50%;
}

.hmin50th {
  min-height: 50%;
}

.wmin50th {
  min-width: 50%;
}

.hmax50th {
  max-height: 50%;
}

.wmax50th {
  max-width: 50%;
}

.h75th {
  height: 75%;
}

.w75th {
  width: 75%;
}

.hmin75th {
  min-height: 75%;
}

.wmin75th {
  min-width: 75%;
}

.hmax75th {
  max-height: 75%;
}

.wmax75th {
  max-width: 75%;
}

.h100th {
  height: 100%;
}

.w100th {
  width: 100%;
}

.hmin100th {
  min-height: 100%;
}

.wmin100th {
  min-width: 100%;
}

.hmax100th {
  max-height: 100%;
}

.wmax100th {
  max-width: 100%;
}

.center-x {
  margin: 0 auto;
  float: none;
  display: block;
}

.center-y-parent, .pos-relative, .rel {
  position: relative;
}

.pos-absolute, .abs {
  position: absolute;
}

.pos-fixed, .fxd {
  position: fixed;
}

.center-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.oh, .overflow-hidden {
  overflow: hidden;
}

.inline, .di {
  display: inline;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.cfx {
  display: block;
  clear: both;
  float: none;
}

.cfx-a::after {
  content: " ";
  clear: both;
  display: table;
}

/*# sourceMappingURL=jass.css.map */
