/* Vertical 3 column CSS flexgrid in mosaic/masonry style */

.qcss-flexgrid-container {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  height: 580px;
}

.qcss-flexgrid-item {
  width: 32%;
  margin-bottom: 2%; /* (100-32*3)/2 */
}

/* Re-order items into rows */
.qcss-flexgrid-item:nth-child(3n+1) { order: 1; }
.qcss-flexgrid-item:nth-child(3n+2) { order: 2; }
.qcss-flexgrid-item:nth-child(3n)   { order: 3; }

/* Force new columns */
.qcss-flexgrid-container::before,
.qcss-flexgrid-container::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}
