/* --- Color settings

  @required for _color.scss

  Choose the components you want to use.
  Don't change the order of settings.
  Comment out components if you do not need them.
*/

/* --- Color palette
  JASS destinguishes between a themes color palette and key colors.
  - Key colors are what you may know from other frameworks (primary, secondary).
    JASS does not define them fixed but gives you the option at hand to root target from the palette.
  - The color palette is a more complete and not limited color preset and its shades.
    JASS leaves it up to you how large the palette gets (interesting for CSS painting).
 */

/* --- Default color palette - 5 brightness shades/steps of each color channel.
  Feel free to extend or minify from 5 to 2 or 3 to 6 steps per channel, etc.
  Use the first row in list to define black and white point. Brightest would be your "white".
  Helpful to define shades/steps per channel: http://scg.ar-ch.org/

  It is recommended to use web safe or "web smart" colors like 5599FF or 59F (not mandatory).
  It is up to you how many colors you use and how you group them in "channels".
  This is an advanced example with many channels useful for interactive web applications with lots of tools.
  For a simple blog or presentation website you can limit the channels to 3 or 6 primary colors.
  ! Gets overridden if $enable-generator: yes;
 */
$color-preset: (
  'grey'     ('222','555','999','CCC','FFF'),
  'gold'     ('630','A51','D94','FC7','FEC'),
  'orange'   ('700','C30','F30','F75','FCB'),
  'red'      ('803','C05','F06','F68','FCD'),
  'rose'     ('607','A0A','E0F','E5F','EAF'),
  'violet'   ('408','71B','A2F','B5F','CAF'),
  'blue'     ('029','04B','26E','59F','ACF'),
  'blue-sky' ('038','06B','28E','6AF','ADF'),
  'cyan'     ('035','056','089','0BC','6EF'),
  'green'    ('141','060','090','0C0','0F0'),
  'lime'     ('350','4A0','5E0','AF4','CF9')
);

/* ---  # old default preset 1
$color-preset: (
  'grey'   ('222', '555', '999', 'CCC', 'FFF'),
  'gold'   ('630', 'A51', 'D94', 'FC7', 'FEC'),
  'red'    ('903', 'C05', 'F06', 'F69', 'FCD'),
  'rose'   ('607', 'A0A', 'D0F', 'E5F', 'EAF'),
  'violet' ('408', '71B', 'A2F', 'B5F', 'CAF'),
  'blue'   ('029', '04B', '26E', '59F', 'ACF'),
  'green'  ('072', '5B0', '5E0', 'AF4', 'CF9')
);
*/

/* --- # old default preset 2
$color-preset: (
  'grey'  ('222', '555', '999', 'CCC', 'FFF'),
  'rose'  ('607', 'A0A', 'E0F', 'E5F', 'EAF'),
  'blue'  ('029', '04B', '36E', '69F', 'BCF'),
  'green' ('072', '5A0', '7E0', 'BF4', 'CF9'),
  'red'   ('903', 'C05', 'F06', 'F68', 'FBC'),
  'gold'  ('630', '940', 'D83', 'FC7', 'EDC')
);
*/

// Enables color-generator (will override custom color-preset above)
// Note: this creates many color code classes if all red green blue steps are chosen below.
// Overrides previous $color-preset and refills it with generated colors.
$enable-generator: no;
// Therefor you need to choose the HEX steps included per channel below.
// Hint: modern websites barely use blacks below #111.
// Be warned: each step creates many multiplying css lines.
// Use all 16 color bits only for advanced projects or for color scheme testing.
// Then switch back to a custom palette or a minified version of the generator.

// Generator basis of 3-digit hex code "Web smart" color palette of
// 4096 colors in 16 bit steps from 0 to F in 3 channels
// Uncomment to enable this example and comment-out "web safe" colors below.
// $red:   (0 1 2 3 4 5 6 7 8 9 A B C D E F);
// $green: (0 1 2 3 4 5 6 7 8 9 A B C D E F);
// $blue:  (0 1 2 3 4 5 6 7 8 9 A B C D E F);

// Generator basis of Traditional 3-digit hex code "Web safe" color palette of
// 216 colors in 6 bit steps from 0 to F in 3 channels.
// Reduce the "step" settings to have a smaller footprint and less altering classes.
$red:   (0 3 6 9 C F);
$green: (0 3 6 9 C F);
$blue:  (0 3 6 9 C F);

/* --- Key color targets:
 Choose if color classes added to an outer element should target specific inner elements.
 This is the different attempt of JASS on primary theme colors.
 For example: Color classes with a trailing -h2 added to the body would color theme header,
 -a for links, and so on, without the need of primary and secondary colors defined fixed.

 Use null or no to turn it off.
 */
$colored-headers: ('h1','h2','h3');
$colored-links: yes;
$disable-colored-links-on-headers: yes;
$colored-inline-elements: ('strong', 'em', 'b', 'i', 'q', 'mark');

/* -- Child selectors
Enables trailing class addition for child elements.
@TODO: Can be set for each color component separately in future.
Choose between yes / no (default:no)
*/
$enable-child-selectors: no;

$override: no; // yes/no > !important  (default:no)

// short/long (long are better readable class names, short are faster)
$selectors: short;

// (name/code) 'name' creates c-blue-1, c-blue-2 / 'code' creates c-A06, c-F06
// Takes only effect if $enable-generator: no;
$color-label: name;

// Turns class names from value based into incrementing index based.
// Makes selector and color-label settings obsolete.
$index-classes: no; // yes/no
