$o: null;
@if $override == yes {
  $o: !important;
}

@if $enable-websafe-colors-preset == yes {
@if $index-classes == yes {
  $i: 1;
  @each $color in $websafe-colors-preset {
    .link-decoration-color-#{$color} a, .c-ld-#{$color} a, .c-ld-#{$i} a,
    .text-decoration-color-#{$color},   .c-td-#{$color},   .c-td-#{$i} { text-decoration-color: ##{$color}$o; }
         .background-color-#{$color},   .c-bg-#{$color},   .c-bg-#{$i}      { background-color: ##{$color}$o; }
             .border-color-#{$color},    .c-b-#{$color},    .c-b-#{$i}          { border-color: ##{$color}$o; }
             .header-color-#{$color} [class^="h"], .c-h-#{$color} [class^="h"], .c-h-#{$i} [class^="h"],
               .link-color-#{$color} a,  .c-l-#{$color} a,  .c-l-#{$i} a,
                    .color-#{$color},      .c-#{$color},      .c-#{$i}                 { color: ##{$color}$o; }
    $i: $i + 1;
  }
} @else {
  @each $color in $websafe-colors-preset {
    .link-decoration-color-#{$color} a, .c-ld-#{$color} a,
    .text-decoration-color-#{$color},   .c-td-#{$color} { text-decoration-color: ##{$color}$o; }
         .background-color-#{$color},   .c-bg-#{$color}      { background-color: ##{$color}$o; }
             .border-color-#{$color},    .c-b-#{$color}          { border-color: ##{$color}$o; }
             .header-color-#{$color} [class^="h"], .c-h-#{$color} [class^="h"],
               .link-color-#{$color} a,  .c-l-#{$color} a,
                    .color-#{$color},      .c-#{$color}                 { color: ##{$color}$o; }
    }
  }
}

@if $enable-websafe-colors-fullstack == yes {
  @each $r in $red {
    @each $g in $green {
      @each $b in $blue {
        $color: #{$r}#{$g}#{$b};
        .c-ld-#{$color} a,
        .c-td-#{$color} { text-decoration-color: ##{$color}$o; }
        .c-bg-#{$color}      { background-color: ##{$color}$o; }
         .c-b-#{$color}          { border-color: ##{$color}$o; }
         .c-l-#{$color} a,
           .c-#{$color}                 { color: ##{$color}$o; }
      }
    }
  }
}
