$o: null;
@if $override == yes {
  $o: !important;
}

@each $set in $sets-fixed {
  .set-fixed-#{$set} {
    @media (min-width: $set) {
      width: $set$o;
      @for $i from 1 through $elements {
        & .play#{$i}of#{$elements} {
          $v: math.div($set, $elements) * $i;
          width: $v$o;
        }
      }
    }
  }
}

@each $set in $sets-fluid {
  .set-fluid-#{$set} {
    $v: $set + 0%;
    width: $v$o;
  }
}

@for $i from 1 through $elements {
  [class*="set-fluid-"] .play#{$i}of#{$elements} {
    $v: math.div(100%, $elements) * $i;
    width: $v$o;
  }
}
