$o: null;
@if $override == yes {
  $o: !important;
}

@function str-split($string, $separator) {
    // empty array/list
    $split-arr: ();
    // first index of separator in string
    $index : str-index($string, $separator);
    // loop through string
    @while $index != null {
        // get the substring from the first character to the separator
        $item: str-slice($string, 1, $index - 1);
        // push item to array
        $split-arr: append($split-arr, #{$item}px);
        // remove item and separator from string
        $string: str-slice($string, $index + 1);
        // find new index of separator
        $index : str-index($string, $separator);
    }
    // add the remaining string to list (the last item)
    $split-arr: append($split-arr, #{$string}px);
    @return $split-arr;
}

// Box shadow reset
.noshadow, .nsdw {
  -webkit-box-shadow: none $o;
     -moz-box-shadow: none $o;
          box-shadow: none $o;
}
$i: 1;
@each $color in $shadow-colors {
  @each $shadow in $shadows {
     $v: str-split($shadow, "-");
    .sdw-#{$shadow} {
      -webkit-box-shadow: $v$o;
         -moz-box-shadow: $v$o;
              box-shadow: $v$o;
    }
    .sdw-#{$shadow}-c#{$color}, .sdw-#{$shadow}-c#{$i} {
        $v: $v ##{$color};
      -webkit-box-shadow: $v$o;
         -moz-box-shadow: $v$o;
              box-shadow: $v$o;
    }
  }
$i: $i + 1;
}
