// choose where the different LESS components are located.
$dir: "components/"

$override:;
// Uncomment this line if you require !important to all statements (on top of other frameworks).
// $override: !important;

// Choose the components you want to use. Don't mix the order of setting lines.
// Otherwise comment the components and its leading settings out (//).
// Reduce the "step" settings to have a smaller footprint and less altering classes.

// Border and Radius
$border-units: 1,2,3,4,5,6;
$radius_units: 2,3,4,5,6,7,8,20,50,100;
@import "${dir}/border";

// Layouts (sets - we do not use the term grid. [README])
// Fixed and Fluid - feel free to add/replace with your own layouts.
// Width of elements is relative to set and count of elements.
// in/de-crease the amount of elements to create different resolutions.
$elements: 24; 
$sets-fixed:
576, // each elemements width in px: 24
768, // each elemements width in px: 32
960, // each elemements width in px: 40
1200, // each elemements width in px: 50
1440, // each elemements width in px: 60
1680, // each elemements width in px: 70
1920, // each elemements width in px: 80
2160, // each elemements width in px: 90
2400 // each elemements width in px: 100
;
$sets-fluid: 80, 90, 100;
@import "${dir}/layout";

// Margin and Padding and Min/Max Height
$init: 4px; $init-height: 40px; @include steps(16);
@import "${dir}/spacing";

// Shadows and Shadow Effects 
@import "${dir}/shadow";

// Helper Classes
@import "${dir}/helper";
