/**
 * Inspired by http://www.mademyday.de/css-height-equals-width-with-pure-css.html
 * And its comments below but also by the original at
 * http://alistapart.com/article/creating-intrinsic-ratios-for-video
 * http://stackoverflow.com/questions/5445491/height-equal-to-dynamic-width-css-fluid-layout
 * I have created a little css preset for ratio tricks on width and high for block elements
 *
 * It requires markup like:
 * <div class="rbox r_1_1"> or r_2_1, etc
 * <div class="rbox_in">Content wrapper</div>
 * </div>
 */
.rbox{
  position: relative;
}
.rbox::before {
  content: "";
  display: block;
}
.r_1_1::before  { padding-top: 100%; }
.r_16_9::before { padding-top: 56%;  } /* 16:9, also most today HD or digital film format */
.r_1_2::before  { padding-top: 200%; }
.r_2_1::before  { padding-top: 50%;  }
.r_36_24::before{ padding-top: 66%;  } /* Classic film, Small foto, 35mm format */
.r_4_3::before  { padding-top: 75%;  } /* 4:3, also old European PAL TV format */
.r_16_10::before{ padding-top: 62%;  } /* 16:10 Displays */

.rbox .rbox-in {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.rbox .rbox-in.rblock {
  width: 100%;
  clear:both;
  float: none;
}
.rbox .rbox-in.rcenter {
  text-align: center;
}
