.noborder, .nb {
  border: 0 none @override;
}

.noshadow, .ns {
  .box-shadow(none) @override;
}

.pos-relative, .rel {
  position: relative @override;
}

.fontsize-inherit, .fsi {
  font-size: inherit @override;
}

.text-weight-normal, .txtn {
  font-weight: normal @override;
}

.text-weight-bold, .txtb {
  font-weight: bold @override;
}
