.pos-relative, .rel {
  position: relative @override;
}

.fontsize-inherit, .fsi {
  font-size: inherit @override;
}

.text-weight-normal, .txtn {
  font-weight: normal @override;
}

.text-weight-bold, .txtb {
  font-weight: bold @override;
}
