$o: null;
@if $override == yes {
  $o: !important;
}

.noborder, .nb {
  border: 0 none $override;
}
.solid {
  border-style: solid $override;
}
.dashed {
  border-style: dashed $override;
}
.double {
  border-style: double $override;
}
.dotted {
  border-style: dotted $override;
}

@each $unit in $border-units {
  $value:  $unit +0px;
  .b#{$unit} {
    border-width: $value;
  }
  .bt#{$unit} {
    border-top-width: $value;
  }
  .br#{$unit} {
    border-right-width: $value;
  }
  .bb#{$unit} {
    border-bottom-width: $value;
  }
  .bl#{$unit} {
    border-left-width: $value;
  }
}
@each $unit in $radius-units {
  $value: $unit +0px;
  .r#{$unit} {
    border-radius: $value;
  }
  .rt#{$unit} {
    border-top-left-radius: $value;
    border-top-right-radius: $value;
  }
  .rr#{$unit} {
    border-top-right-radius: $value;
    border-bottom-right-radius: $value;
  }
  .rb#{$unit} {
    border-bottom-left-radius: $value;
    border-bottom-right-radius: $value;
  }
  .rl#{$unit} {
    border-top-left-radius: $value;
    border-bottom-left-radius: $value;
  }
  .rtr#{$unit} {
    border-top-right-radius: $value;
  }
  .pbr#{$unit} {
    border-bottom-right-radius: $value;
  }
  .rbl#{$unit} {
    border-bottom-left-radius: $value;
  }
  .rtl#{$unit} {
    border-top-left-radius: $value;
  }
}
