$i: 1;
@each $color in $colors {
    .c#{$color}, .c#{$i} {
        background-color: ##{$color};
    }
    .bc#{$color}, .bc#{$i} {
        border-color: ##{$color};
    }
    .tc#{$color}, .tc#{$i} {
        color: ##{$color};
    }
  @include: 
    $i: $i + 1;
}
