.center-x {
  margin: 0 auto;
  float: none;
  display: block;
}

.center-y-parent, .pos-relative, .rel {
  position: relative;
}

.pos-absolute, .abs {
  position: absolute;
}

.pos-fixed, .fxd {
  position: fixed;
}

.center-y {
  position: absolute; // requires parent to be pos-relative
  top: 50% $override;
  transform: translateY(-50%);
}

.fontsize-inherit, .fsi {
  font-size: inherit;
}

.text-weight-normal, .txtn {
  font-weight: normal;
}

.text-weight-bold, .txtb {
  font-weight: bold;
}
.oh, .overflow-hidden {
  overflow: hidden !imporant;
}

.inline, .di {
  display: inline;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.cfx, .clearfix {
  display: block !important;
  clear: both !important;
  float: none !important;
  &::after {
    content: " ";
    clear: both !important;
    display: table !important;
  }
}
