// Box shadow reset
.noshadow, .nsdw {
  -webkit-box-shadow: none $override;
     -moz-box-shadow: none $override;
          box-shadow: none $override;
}

// Box shadow with defaults
@mixin sdw($x-axis: 0, $y-axis: 1px, $blur: 2px, $color: $black-point) {
  -webkit-box-shadow: $x-axis $y-axis $blur $color;
     -moz-box-shadow: $x-axis $y-axis $blur $color;
          box-shadow: $x-axis $y-axis $blur $color;
}

$steps:2; $default:1;
.sdw {
@include sdw;
}
.sdw-2-2-2-dark {
@include sdw(2px 2px 2px $black-point);
}
/* @todo for each loop missing */
