// QCSS spacing © https://github.com/diqidoq/qcss under GPL 3
// Settings will be made in the source qcss.less

for $i from 1 through $steps {
  $spacing: $init-spacing * $i + 0px $override;
  .m#{$i} {   margin-top:     $spacing;
              margin-right:   $spacing;
              margin-bottom:  $spacing;
              margin-left:    $spacing; }
  .mt#{$i} {  margin-top:     $spacing; }
  .mt-#{$i} { margin-top:    -$spacing; }
  .mr#{$i} {  margin-right:   $spacing; }
  .mr-#{$i} { margin-right:  -$spacing; }
  .mb#{$i} {  margin-bottom:  $spacing; }
  .mb-#{$i} { margin-bottom: -$spacing; }
  .ml#{$i} {  margin-left:    $spacing; }
  .ml-#{$i} { margin-left:   -$spacing; }
  .p#{$i} {   padding-top:    $spacing;
              padding-right:  $spacing;
              padding-bottom: $spacing;
              padding-left:   $spacing; }
  .pt#{$i} {  padding-top:    $spacing; }
  .pr#{$i} {  padding-right:  $spacing; }
  .pb#{$i} {  padding-bottom: $spacing; }
  .pl#{$i} {  padding-left:   $spacing; }

  $size: $init-sizing * $i + 0px @override;
  .h#{$i} {    height:     $size; }
  .w#{$i} {    width:      $size; }
  .minh#{$i} { min-height: $size; }
  .minw#{$i} { min-width:  $size; }
  .maxh#{$i} { max-height: $size; }
  .maxw#{$i} {  max-width: $size; }
}
