$font-sizes: 7,8,9,10,11,12,14,16,18,20,22;
@each $fsz in $font-sizes {
  .fontsize#{$fsz}, .fsz#{$fsz} {
    font-size: $fsz + 0px;
  }
}
.fsz-ih { font-size: inherit;}

.fwt {
 &100  { font-weight: normal; font-weight: 100; }
 &200  { font-weight: normal; font-weight: 200; }
 &300  { font-weight: normal; font-weight: 300; }
 &400, &n { font-weight: normal; font-weight: 400; }
 &500  { font-weight: normal; font-weight: 500; }
 &600  { font-weight: bold;   font-weight: 600; }
 &700, &b { font-weight: bold;   font-weight: 700; }
 &800  { font-weight: bold;   font-weight: 800; }
 &900  { font-weight: bold;   font-weight: 900; }
 &lr   { font-weight: lighter; }
 &br   { font-weight: bolder; }
 &-ih  { font-weight: inherit; }
}

.ti, .italic, .txti {
  font-style: italic;
}

$letter-spacing: 1,2,3,4,5;
@each $fls in $letter-spacing {
  .fls#{$fls} {
    letter-spacing: $fls + 0px;
  }
}

.tal {text-align: left !important;}
.tar {text-align: right !important;}
.tac {text-align: center !important;}
