$o: null;
@if $override == yes {
  $o: !important;
}

.center-x {
  margin: 0 auto $o;
  float: none $o;
  display: block $o;
}

.center-y-parent, .pos-relative, .rel {
  position: relative $o;
}

.pos-absolute, .abs {
  position: absolute $o;
}

.pos-fixed, .fxd {
  position: fixed $o;
}

.center-y {
  position: absolute $o; // requires parent to be pos-relative
  top: 50% $o;
  transform: translateY(-50%) $o;
}

.oh, .overflow-hidden {
  overflow: hidden $o;
}

.inline, .di {
  display: inline $o;
}

.fl {
  float: left $o;
}

.fr {
  float: right $o;
}

.cfx {
  display: block $o;
  clear: both $o;
  float: none $o;
}

.cfx-a::after {
    content: " " $o;
    clear: both $o;
    display: table $o;
  }
