@use 'sass:math';

$o: null;
@if $override-spacing == yes {
  $o: !important;
}

@for $i from 0 through $steps-spacing {
  $s: $init-spacing * $i;
  $v: $s + 0px;
  .m#{$s} {   margin-top:     $v$o;
              margin-right:   $v$o;
              margin-bottom:  $v$o;
              margin-left:    $v$o; }
  .mt#{$s} {  margin-top:     $v$o; }
  .mt-#{$s} { margin-top:    -$v$o; }
  .mr#{$s} {  margin-right:   $v$o; }
  .mr-#{$s} { margin-right:  -$v$o; }
  .mb#{$s} {  margin-bottom:  $v$o; }
  .mb-#{$s} { margin-bottom: -$v$o; }
  .ml#{$s} {  margin-left:    $v$o; }
  .ml-#{$s} { margin-left:   -$v$o; }
  .p#{$s} {   padding-top:    $v$o;
              padding-right:  $v$o;
              padding-bottom: $v$o;
              padding-left:   $v$o; }
  .pt#{$s} {  padding-top:    $v$o; }
  .pr#{$s} {  padding-right:  $v$o; }
  .pb#{$s} {  padding-bottom: $v$o; }
  .pl#{$s} {  padding-left:   $v$o; }
}

$o: null;
@if $override-sizing == yes {
  $o: !important;
}
@for $i from 1 through $steps-sizing {
  $s: $init-sizing * $i;
  $v: $s + 0px;
  .h#{$s} {    height:     $v$o; }
  .w#{$s} {    width:      $v$o; }
  .hmin#{$s} { min-height: $v$o; }
  .wmin#{$s} { min-width:  $v$o; }
  .hmax#{$s} { max-height: $v$o; }
  .wmax#{$s} { max-width:  $v$o; }
}
@each $p in $sizing-relative {
  $v: $p * 1%;
  .h#{$p}th {    height:     $v$o; }
  .w#{$p}th {    width:      $v$o; }
  .hmin#{$p}th { min-height: $v$o; }
  .wmin#{$p}th { min-width:  $v$o; }
  .hmax#{$p}th { max-height: $v$o; }
  .wmax#{$p}th { max-width:  $v$o; }
}
