$o: null;
@if $override == yes {
  $o: !important;
}

.font-family-, .ff- {
  &monospace, &m       { font-family: monopace $o; }
  &sans-serif, &ns     { font-family: sans-serif $o; }
  &serif, &s           { font-family: serif $o; }
  &cursive, &c         { font-family: cursive $o; }
  &fantasy, &f         { font-family: fantasy $o; }
  &system-ui, &sys     { font-family: system-ui $o; }
  &ui-serif, &us       { font-family: ui-serif $o; }
  &ui-sans-serif, &uns { font-family: ui-sans-serif $o; }
  &ui-monospace, &um   { font-family: ui-monospace $o; }
  &ui-rounded, &ur     { font-family: ui-rounded $o; }
  &emoji, &e           { font-family: emoji $o; }
  &math, &m            { font-family: math $o; }
  &fangsong, &f        { font-family: fangsong $o; }
  &inherit, &ih        { font-family: inherit $o; }
}

$font-sizes: 7,8,9,10,11,12,14,16,18,20,22;
@each $fsz in $font-sizes {
  .font-size-#{$fsz}, .fsz-#{$fsz} {
    $v: $fsz + 0px;
    font-size: $v$o;
  }
}
.font-size-, .fsz- {
  &smaller, &smr { font-size: smaller $o; }
  &larger, &lgr { font-size: larger $o; }
  &-inherit, &-ih { font-size: inherit $o; }
}

$font-weights-normal-fallback: 100,200,300,400,500;
$font-weights-bold-fallback: 600,700,800,900;

@each $fwt in $font-weights-normal-fallback {
.font-weight-#{$fwt}, .fwt-#{$fwt} {font-weight: normal $o; font-weight: #{$fwt} $o; }
}
@each $fwt in $font-weights-bold-fallback {
.font-weight-#{$fwt}, .fwt-#{$fwt} {font-weight: bold $o; font-weight: #{$fwt} $o; }
}
.font-weight-, .fwt- {
 &lighter, &lr  { font-weight: lighter $o; }
 &bolder, &br   { font-weight: bolder $o; }
 &inherit, &ih  { font-weight: inherit $o; }
}

.font-style-, .fst- {
  &normal, &n   { font-style: normal $o; }
  &italic, &i   { font-style: italic $o; }
  &oblique, &o  { font-style: oblique $o; }
  &inherit, &ih { font-style: inherit $o; }
}

.font-variant-, .fvt- {
  &normal, &n   { font-variant: normal $o; }
  &no-common-ligatures, &ncl   { font-variant: no-common-ligatures proportional-nums $o; }
  &num-slashed-zero, &nsz  { font-variant-numeric: slashed-zero $o; }
  &small-caps, &sc  { font-variant: small-caps $o; }
  &inherit, &ih  { font-variant: inherit $o; }
}

$letter-spacing: 1,2,3,4,5;
@each $ls in $letter-spacing {
  .letter-spacing-#{$ls}, .ls-#{$ls} {
    $v: $ls + 0px;
    letter-spacing: $v$o;
  }
}
.letter-spacing-inherit, .ls-ih { letter-spacing: inherit $o; }

.text-transform-, .ttf- {
  &none, &n       { text-transform: none $o; }
  &cap, &c        { text-transform: capitalize $o; }
  &upper, &u      { text-transform: uppercase $o; }
  &lower, &l      { text-transform: lowercase $o; }
  &fullwidth, &fw { text-transform: full-width $o; }
  &fullsize, &fs  { text-transform: full-size-kana $o; }
  &inherit, &ih   { text-transform: inherit $o; }
}

.text-align-left, .tal {text-align: left !important $o;}
.text-align-right, .tar {text-align: right !important $o;}
.text-align-center, .tac {text-align: center !important $o;}
